Ruins_Untold/catalog/n8n-workflow.json
{
  "name": "Ruins Untold — Idea Catalog",
  "nodes": [
    {
      "id": "a1f3e2b0-0001-4c9a-8d7e-111111111111",
      "name": "Run Idea Generation",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 340],
      "parameters": {}
    },
    {
      "id": "a1f3e2b0-0002-4c9a-8d7e-222222222222",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [380, 340],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-001",
              "name": "spreadsheetId",
              "value": "YOUR_GOOGLE_SHEET_ID_HERE",
              "type": "string"
            },
            {
              "id": "cfg-002",
              "name": "sheetName",
              "value": "Ideas",
              "type": "string"
            },
            {
              "id": "cfg-003",
              "name": "ideasCount",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1f3e2b0-0003-4c9a-8d7e-333333333333",
      "name": "Generate Ideas via Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 340],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3333/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"prompt\": \"You are the lead researcher and content strategist for Ruins Untold, a long-form YouTube channel covering ancient mysteries, forbidden archaeology, and alternative history. Generate exactly 5 video ideas as a pure JSON array with no markdown fences, no preamble, and no explanation. Each idea must use this exact schema: {topic: short punchy title 5-10 words, angle: 3-5 sentences opening with mainstream consensus then cracking it with a physical anomaly naming the gatekeeper and ending on the unanswered question, key_evidence: minimum 4 specific items with paper titles dates artifacts locations documents years, key_researchers: named individuals with roles always including at least one antagonist labeled as such, related_video: prior Ruins Untold episode or none yet, hook_style: one of question statement contradiction anomaly revelation, tone_dial: integer 6-7 default never exceed 8}. Rules: every idea needs a concrete physical anomaly, a named gatekeeper institution, and specific dated sources. Topics must span different eras regions and artifact types. Output ONLY the raw JSON array starting with [ and ending with ]. No other text.\"}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "a1f3e2b0-0004-4c9a-8d7e-444444444444",
      "name": "Parse Ideas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 340],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract text from claude-bridge.py response\nconst responseText = items[0].json.output.trim();\n\n// Parse the JSON array — handle edge case where model wraps in backticks\nlet ideas;\ntry {\n  ideas = JSON.parse(responseText);\n} catch (e) {\n  const stripped = responseText.replace(/^```json?\\n?|```$/gm, '').trim();\n  try {\n    ideas = JSON.parse(stripped);\n  } catch (e2) {\n    const match = stripped.match(/(\\[\\s*\\{[\\s\\S]*\\}\\s*\\])/);\n    if (!match) throw new Error('Could not parse ideas. Raw: ' + responseText.slice(0, 300));\n    ideas = JSON.parse(match[1]);\n  }\n}\n\nif (!Array.isArray(ideas)) throw new Error('Expected JSON array, got: ' + typeof ideas);\n\n// Normalize a field value — handles string, array, number, or null\nfunction str(val) {\n  if (val === null || val === undefined) return '';\n  if (Array.isArray(val)) return val.join(', ');\n  return String(val).trim();\n}\n\nreturn ideas.map(idea => ({\n  json: {\n    topic:           str(idea.topic),\n    angle:           str(idea.angle),\n    key_evidence:    str(idea.key_evidence),\n    key_researchers: str(idea.key_researchers),\n    hook_style:      str(idea.hook_style),\n    tone_dial:       str(idea.tone_dial || 7),\n    related_video:   str(idea.related_video) || 'none yet'\n  }\n}));"
      }
    },
    {
      "id": "a1f3e2b0-0005-4c9a-8d7e-555555555555",
      "name": "Read Existing Topics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1040, 340],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheetName }}",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "returnAllMatches": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1f3e2b0-0006-4c9a-8d7e-666666666666",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 340],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect all existing topic strings from the sheet\nconst existingRows = $('Read Existing Topics').all();\nconst existingTopics = existingRows\n  .map(row => (row.json.TOPIC || '').toLowerCase().trim())\n  .filter(t => t.length > 0);\n\n// Helper: extract significant words (length > 3, not stop words)\nconst STOP_WORDS = new Set(['that','this','with','from','have','been','were','they','their','what','when','where','which','will','would','could','should','about','than','then','into','over','after','before','under','above','between','through','during','found','built','used','made']);\n\nfunction sigWords(str) {\n  return str.toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .split(/\\s+/)\n    .filter(w => w.length > 3 && !STOP_WORDS.has(w));\n}\n\n// Get newly generated ideas (all items in current run)\nconst newIdeas = items;\nconst uniqueIdeas = [];\n\nfor (const idea of newIdeas) {\n  const topic = (idea.json.topic || '').toLowerCase().trim();\n\n  // 1. Exact match\n  if (existingTopics.includes(topic)) continue;\n\n  // 2. Key-word overlap: flag as duplicate if >=60% of significant words match any existing topic\n  const newWords = sigWords(topic);\n  const isDuplicate = newWords.length > 0 && existingTopics.some(existing => {\n    const existWords = sigWords(existing);\n    if (existWords.length === 0) return false;\n    const overlap = newWords.filter(w => existWords.includes(w)).length;\n    return overlap / newWords.length >= 0.6;\n  });\n\n  if (!isDuplicate) uniqueIdeas.push(idea);\n}\n\nreturn uniqueIdeas.length > 0 ? uniqueIdeas : [{ json: { __noNewIdeas: true } }];"
      }
    },
    {
      "id": "a1f3e2b0-0007-4c9a-8d7e-777777777777",
      "name": "Any New Ideas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1480, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.__noNewIdeas }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1f3e2b0-0008-4c9a-8d7e-888888888888",
      "name": "Write to Catalog",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1700, 240],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config').first().json.sheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE_ADDED":       "={{ $now.format('yyyy-MM-dd') }}",
            "STATUS":           "New",
            "TOPIC":            "={{ $json.topic }}",
            "ANGLE":            "={{ $json.angle }}",
            "KEY_EVIDENCE":     "={{ $json.key_evidence }}",
            "KEY_RESEARCHERS":  "={{ $json.key_researchers }}",
            "HOOK_STYLE":       "={{ $json.hook_style }}",
            "TONE_DIAL":        "={{ $json.tone_dial }}",
            "RELATED_VIDEO":    "={{ $json.related_video }}",
            "NOTES":            ""
          },
          "matchingColumns": [],
          "schema": [
            { "id": "DATE_ADDED",      "displayName": "DATE_ADDED",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "STATUS",          "displayName": "STATUS",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "TOPIC",           "displayName": "TOPIC",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "ANGLE",           "displayName": "ANGLE",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "KEY_EVIDENCE",    "displayName": "KEY_EVIDENCE",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "KEY_RESEARCHERS", "displayName": "KEY_RESEARCHERS", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "HOOK_STYLE",      "displayName": "HOOK_STYLE",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "TONE_DIAL",       "displayName": "TONE_DIAL",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "RELATED_VIDEO",   "displayName": "RELATED_VIDEO",   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "NOTES",           "displayName": "NOTES",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1f3e2b0-0009-4c9a-8d7e-999999999999",
      "name": "Nothing New to Add",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1700, 460],
      "parameters": {}
    }
  ],
  "connections": {
    "Run Idea Generation": {
      "main": [
        [{ "node": "Config", "type": "main", "index": 0 }]
      ]
    },
    "Config": {
      "main": [
        [{ "node": "Generate Ideas via Claude", "type": "main", "index": 0 }]
      ]
    },
    "Generate Ideas via Claude": {
      "main": [
        [{ "node": "Parse Ideas", "type": "main", "index": 0 }]
      ]
    },
    "Parse Ideas": {
      "main": [
        [{ "node": "Read Existing Topics", "type": "main", "index": 0 }]
      ]
    },
    "Read Existing Topics": {
      "main": [
        [{ "node": "Filter Duplicates", "type": "main", "index": 0 }]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [{ "node": "Any New Ideas?", "type": "main", "index": 0 }]
      ]
    },
    "Any New Ideas?": {
      "main": [
        [{ "node": "Write to Catalog", "type": "main", "index": 0 }],
        [{ "node": "Nothing New to Add", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "ruins-untold-catalog-v1"
  }
}
