Ruins_Untold/production-pipeline/n8n-workflow.json
{
  "updatedAt": "2026-05-20T20:00:16.934Z",
  "createdAt": "2026-05-18T19:06:43.033Z",
  "id": "ruins-untold-pipeline-v1",
  "name": "Ruins Untold \u2014 YouTube Production Pipeline",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-00a-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        304
      ],
      "parameters": {}
    },
    {
      "id": "node-00b-read-sheet",
      "name": "Read Ruins Untold Ideas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -720,
        304
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1kF8cfyh3qZZIcPcSWYs8olZZYPxFhxBTUhtjK04Eb68",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "gid"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:K200"
            }
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "node-00c-aggregate",
      "name": "Aggregate Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        304
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\n\n// Keep only rows with STATUS exactly equal to 'New'\nconst newRows = rows.filter(item =>\n  (item.json.STATUS || '').toString().trim().toLowerCase() === 'new'\n);\n\nif (newRows.length === 0) {\n  throw new Error(\n    'No ideas with STATUS = \"New\" found. Open the Ruins_Untold_Ideas sheet '\n    + 'and set at least one row to New before running.'\n  );\n}\n\n// Take the first 10 New rows\nconst displayRows = newRows.slice(0, 10);\n\n// Build numbered display list (TOPIC only)\nconst topicList = displayRows\n  .map((item, i) => `${i + 1}. ${item.json.TOPIC || '(no topic)'}`)\n  .join('\\n');\n\n// Stash the filtered rows for the lookup node\nconst allRows = displayRows.map(r => r.json);\n\nreturn [{\n  json: {\n    topicList,\n    allRows: JSON.stringify(allRows),\n    count: displayRows.length\n  }\n}];\n"
      }
    },
    {
      "id": "node-00d-select-form",
      "name": "Select Episode Topic",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -240,
        304
      ],
      "webhookId": "ruins-untold-topic-select",
      "parameters": {
        "resume": "form",
        "formTitle": "RUINS UNTOLD \u2014 CASE FILE SELECTION",
        "formDescription": "={{ 'CLASSIFIED \u2014 INTERNAL PRODUCTION USE ONLY\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'OPEN CASE FILES \u2014 STATUS: NEW\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n'+ $json.topicList+ '\\n\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'Enter the case number to open for production.' }}",
        "responseMode": "lastNode",
        "formFields": {
          "values": [
            {
              "fieldLabel": "CASE NUMBER",
              "fieldType": "number",
              "placeholder": "1",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formLayout": "wide"
        }
      }
    },
    {
      "id": "node-00e-lookup",
      "name": "Look Up Selected Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const selection = parseInt($json[\"CASE NUMBER\"], 10);\nconst voiceId   = 'Lp2NZJAfG4zDynNcYPSz';\n\n// Retrieve all rows cached before the Wait node\nconst allRows = JSON.parse($('Aggregate Topics').item.json.allRows);\n\nif (!selection || selection < 1 || selection > allRows.length) {\n  throw new Error(\n    `Invalid selection \"${selection}\". Enter 1\u2013${allRows.length}.`\n  );\n}\n\nconst row = allRows[selection - 1];\n\nreturn [{\n  json: {\n    TOPIC:            row.TOPIC            || '',\n    ANGLE:            row.ANGLE            || '',\n    KEY_EVIDENCE:     row.KEY_EVIDENCE     || '',\n    KEY_RESEARCHERS:  row.KEY_RESEARCHERS  || '',\n    RELATED_VIDEO:    row.RELATED_VIDEO    || 'N/A',\n    HOOK_STYLE:       row.HOOK_STYLE       || 'contradiction',\n    TONE_DIAL:        parseInt(row.TONE_DIAL, 10) || 7,\n    VOICE_ID:         voiceId\n  }\n}];\n"
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.item.json;\n\n// Compute timestamp once \u2014 used in both slug and dir\nconst ts   = new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 12);\nconst slug = (input.TOPIC || '')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '_')\n  .substring(0, 40)\n  + '_' + ts;\n\nreturn [{\n  json: {\n    TOPIC:                  input.TOPIC           || '',\n    ANGLE:                  input.ANGLE           || '',\n    KEY_EVIDENCE:           input.KEY_EVIDENCE    || '',\n    KEY_RESEARCHERS:        input.KEY_RESEARCHERS || '',\n    RELATED_VIDEO:          input.RELATED_VIDEO   || 'N/A',\n    HOOK_STYLE:             input.HOOK_STYLE      || 'contradiction',\n    TONE_DIAL:              parseInt(input.TONE_DIAL, 10) || 7,\n    VOICE_ID:               input.VOICE_ID        || '',\n    projectSlug:            slug,\n    projectDir:             '/Users/jneal/n8n_projects/' + slug,\n    revisionNotes:          '',\n    voiceoverRevisionNotes: ''\n  }\n}];\n"
      },
      "id": "node-02-set-vars",
      "name": "Set Project Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "command": "={{ 'mkdir -p \"' + $json.projectDir + '/audio\" \"' + $json.projectDir + '/images\" \"' + $json.projectDir + '/videos\" \"' + $json.projectDir + '/scripts\" \"' + $json.projectDir + '/music\" \"' + $json.projectDir + '/sfx\" && echo \"Directories created: ' + $json.projectDir + '\"' }}"
      },
      "id": "node-03-mkdir",
      "name": "Create Project Directories",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3333/generate",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  prompt:\n    \"You are the lead scriptwriter for Ruins Untold, a long-form YouTube channel exploring ancient mysteries, forbidden archaeology, and alternative history. Your job is to write scripts that sound like they were written by the host \u2014 not by an AI.\\n\\nCHANNEL IDENTITY\\nChannel name: Ruins Untold\\nFormat: Long-form YouTube (~20 minutes per video)\\nCore premise: The gap between mainstream historical narrative and the physical, geological, and archaeological evidence that mainstream academia cannot \u2014 or will not \u2014 adequately explain.\\nChannel promise: \\\"We go where the evidence leads, even when it leads somewhere uncomfortable.\\\"\\n\\nTONE PROFILE\\nPRIMARY VOICE \u2014 Conversational authority. You know this material deeply. You have done the research. But you are sharing it with a friend, not presenting a dissertation. Never academic. Never breathless. Measured, deliberate, occasionally wry.\\n\\nCONSPIRATORIAL REGISTER \u2014 Slightly conspiratorial, never unhinged. The framing is always: \\\"Here is what the evidence shows. Draw your own conclusions.\\\" Never state unfalsifiable claims as fact. \\\"Suggests\\\" and \\\"points toward\\\" are your hedges. Use them.\\n\\nSELF-AWARE DISCLAIMERS \u2014 Maximum two per script. Approved forms: \\\"Look, I know how this sounds...\\\", \\\"I'm not saying this is proof of anything, but...\\\", \\\"I'm no conspiracy theorist, but you have to ask...\\\", \\\"Bear with me here.\\\"\\n\\nTHE COLLECTIVE WE \u2014 Use: \\\"We've been told...\\\", \\\"What we're looking at here...\\\", \\\"Come with me as we explore...\\\", \\\"We're not supposed to ask this question.\\\"\\n\\nPACING \u2014 Build slowly. Use \\\"...\\\" to mark deliberate pause. Short sentences for emphasis.\\n\\nAUDIENCE: Age 25-65, global English-speaking. Skeptical of institutional authority. Not fringe. Global clarity \u2014 no idioms, American sports metaphors, or British slang.\\n\\nSCRIPT STRUCTURE \u2014 20-MINUTE LONG FORM\\n\\nHOOK (0:00\u20130:45): Open inside the mystery. Do not introduce channel or host first. Hook formats: QUESTION (three escalating questions, third has no mainstream answer), PARADOX (two facts that cannot both be true), EVIDENCE (open on the anomaly), CONTRADICTION (state mainstream claim, then the physical evidence against it). Always end: \\\"Welcome to Ruins Untold. Come with me as we explore this together.\\\"\\n\\nCONTEXT BRIDGE (0:45\u20132:30): Establish mainstream position fairly. Tone: measured, slightly dry.\\n\\nACT 1 \u2014 THE OFFICIAL STORY (2:30\u20136:00): Honest detail of consensus model. Pattern interrupt at ~5:00.\\n\\nACT 2 \u2014 THE ANOMALIES (6:00\u201312:00): Each anomaly: (1) State clearly, (2) Why mainstream explanation insufficient, (3) \\\"We will come back to what this means.\\\" Pattern interrupt at ~8:30 (change angle). Pattern interrupt at ~11:00 (emotional peak: \\\"Here's where it gets uncomfortable.\\\").\\n\\nACT 3 \u2014 THE ALTERNATIVE INTERPRETATION (12:00\u201317:30): Alternative model with specificity. Cite real researchers. Approved: Graham Hancock, Randall Carlson, Robert Schoch, John Anthony West, Brien Foerster, James Kennett, Allen West, Christopher Moore, Andrew Collins, Michael Cremo. Pattern interrupt at ~14:30 (self-aware disclaimer).\\n\\nRESOLUTION + CTA (17:30\u201320:00): (1) Summary without mainstream framing, (2) \\\"The question isn't whether this existed. The question is why we are not allowed to ask.\\\", (3) Subscribe CTA + comment + related video, (4) Episode tease.\\n\\nLANGUAGE RULES\\nALWAYS: Present tense for evidence. Short sentences. \\\"...\\\" for pause. Hedged language. \\\"We\\\" for collective discovery.\\nNEVER: \\\"delve\\\", \\\"captivating\\\", \\\"fascinating\\\", \\\"it's worth noting\\\", \\\"in conclusion\\\", academic passive voice, \\\"In today's video\\\", \\\"Make sure to like and subscribe\\\" before CTA, \\\"As we all know\\\", \\\"Throughout history\\\", condescension toward academics, unverifiable claims as fact.\\n\\nLOCKED VOICE SAMPLE: \\\"Why did every ancient civilization suddenly stop building around 1200 BC? Was it climate change?...Was it caused by humans?...Or was it something else entirely?...Welcome to Ruins Untold...Come with me as we explore these questions together.\\\"\\n\\nOUTPUT FORMAT \u2014 produce exactly:\\n1. SCRIPT \u2014 Full 20-minute script with timestamps and section headers\\n2. HOOK VARIANTS \u2014 2 alternative hooks (other two formats)\\n3. CHAPTER MARKERS \u2014 YouTube timestamps\"\n    + \"\\n\\n---\\n\\n\"\n    + \"TOPIC: \"           + $('Set Project Variables').item.json.TOPIC + \"\\n\"\n    + \"ANGLE: \"           + $('Set Project Variables').item.json.ANGLE + \"\\n\"\n    + \"KEY_EVIDENCE: \"    + $('Set Project Variables').item.json.KEY_EVIDENCE + \"\\n\"\n    + \"KEY_RESEARCHERS: \" + $('Set Project Variables').item.json.KEY_RESEARCHERS + \"\\n\"\n    + \"RELATED_VIDEO: \"   + $('Set Project Variables').item.json.RELATED_VIDEO + \"\\n\"\n    + \"HOOK_STYLE: \"      + $('Set Project Variables').item.json.HOOK_STYLE + \"\\n\"\n    + \"TONE_DIAL: \"       + $('Set Project Variables').item.json.TONE_DIAL\n    + ($('Set Project Variables').item.json.revisionNotes\n        ? \"\\n\\nREVISION NOTES FROM PREVIOUS DRAFT: \"\n          + $('Set Project Variables').item.json.revisionNotes\n        : \"\")\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-04-claude-script",
      "name": "Generate Script \u2014 Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst fullText = response.output;\n\n// Split sections\nconst scriptMatch = fullText.match(/(?:#{1,2}\\s*SCRIPT|1\\.\\s*SCRIPT)[\\s\\S]*?(?=(?:#{1,2}\\s*HOOK VARIANTS|2\\.\\s*HOOK)|$)/i);\nconst hookVarsMatch = fullText.match(/(?:#{1,2}\\s*HOOK VARIANTS|2\\.\\s*HOOK)[\\s\\S]*?(?=(?:#{1,2}\\s*THUMBNAIL|3\\.\\s*THUMB)|$)/i);\nconst thumbMatch = fullText.match(/(?:#{1,2}\\s*THUMBNAIL|3\\.\\s*THUMB)[\\s\\S]*?(?=(?:#{1,2}\\s*VISUAL|4\\.\\s*VISUAL)|$)/i);\nconst promptsMatch = fullText.match(/(?:#{1,2}\\s*VISUAL PROMPTS?|4\\.\\s*VISUAL)[\\s\\S]*?(?=(?:#{1,2}\\s*CHAPTER|5\\.\\s*CHAPTER)|$)/i);\nconst chaptersMatch = fullText.match(/(?:#{1,2}\\s*CHAPTER|5\\.\\s*CHAPTER)[\\s\\S]*$/i);\n\nconst scriptText = scriptMatch ? scriptMatch[0].trim() : fullText;\nconst voiceoverText = scriptText\n  .replace(/\\[.*?\\]/g, '')\n  .replace(/\\(.*?\\)/g, '')\n  .replace(/^\\s*(#{1,3}.*|[A-Z\\s]+:.*|\\d+:\\d+.*|---.*)/gm, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst projectVars = $('Set Project Variables').item.json;\n\nreturn [{\n  json: {\n    ...projectVars,\n    fullOutput: fullText,\n    scriptText: scriptText,\n    voiceoverText: voiceoverText,\n    hookVariants: hookVarsMatch ? hookVarsMatch[0].trim() : '',\n    thumbnailConcept: thumbMatch ? thumbMatch[0].trim() : '',\n    visualPromptsTable: promptsMatch ? promptsMatch[0].trim() : '',\n    chapterMarkers: chaptersMatch ? chaptersMatch[0].trim() : '',\n    characterCount: voiceoverText.length,\n    estimatedMinutes: Math.round(voiceoverText.split(' ').length / 140)\n  }\n}];"
      },
      "id": "node-05-parse-script",
      "name": "Parse Script Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "command": "={{ \"cat > \\\"\" + $json.projectDir + \"/scripts/full_output.md\\\" << 'RUINS_EOF'\\n\" + $json.fullOutput + \"\\nRUINS_EOF\\necho \\\"Script saved.\\\"\" }}"
      },
      "id": "node-06-save-script",
      "name": "Save Script to File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "RUINS UNTOLD \u2014 SCRIPT AUTHORIZATION",
        "formDescription": "={{ 'CASE FILE: ' + $json.TOPIC + '\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'ESTIMATED RUNTIME: ~' + $json.estimatedMinutes + ' minutes\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n'+ 'SCRIPT EXCERPT (first 3000 characters):\\n\\n'+ ($json.scriptText || '').substring(0, 3000)+ '\\n\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'FULL SCRIPT \u2192 ' + $json.projectDir + '/scripts/full_output.md\\n'+ 'Review the complete document before issuing authorization.'  }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "AUTHORIZATION",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AUTHORIZE \u2014 PROCEED TO RECORDING"
                  },
                  {
                    "option": "RETURN \u2014 REVISIONS REQUIRED"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "REVISION DIRECTIVE",
              "fieldType": "textarea",
              "placeholder": "What must change? Be specific. Required only when returning for revision."
            }
          ]
        },
        "options": {
          "formLayout": "wide"
        }
      },
      "id": "node-07-script-review",
      "name": "Script Review & Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1440,
        304
      ],
      "webhookId": "ruins-script-review"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-script",
              "leftValue": "={{ $json.Decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-08-script-if",
      "name": "Script Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3333/generate",
        "authentication": "none",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  prompt:\n    \"You are revising a Ruins Untold YouTube script. Apply the same style guide as before. Incorporate the specific revision feedback provided. Keep all approved sections intact.\"\n    + \"\\n\\n---\\n\\n\"\n    + 'ORIGINAL SCRIPT:\\n' + $json.scriptText + '\\n\\nREVISION FEEDBACK: ' + $json['Revision Notes'] + '\\n\\nPlease revise the script incorporating this feedback while maintaining all Ruins Untold style guidelines. Output the complete revised script, hook variants, thumbnail concept, visual prompts table, and chapter markers.'\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-09-revise-script",
      "name": "Revise Script \u2014 Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1920,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst fullText = response.output;\n\nconst scriptMatch = fullText.match(/(?:#{1,2}\\s*SCRIPT|1\\.\\s*SCRIPT)[\\s\\S]*?(?=(?:#{1,2}\\s*HOOK VARIANTS|2\\.\\s*HOOK)|$)/i);\nconst promptsMatch = fullText.match(/(?:#{1,2}\\s*VISUAL PROMPTS?|4\\.\\s*VISUAL)[\\s\\S]*?(?=(?:#{1,2}\\s*CHAPTER|5\\.\\s*CHAPTER)|$)/i);\nconst chaptersMatch = fullText.match(/(?:#{1,2}\\s*CHAPTER|5\\.\\s*CHAPTER)[\\s\\S]*$/i);\nconst thumbMatch = fullText.match(/(?:#{1,2}\\s*THUMBNAIL|3\\.\\s*THUMB)[\\s\\S]*?(?=(?:#{1,2}\\s*VISUAL|4\\.)|$)/i);\n\nconst scriptText = scriptMatch ? scriptMatch[0].trim() : fullText;\nconst voiceoverText = scriptText\n  .replace(/\\[.*?\\]/g, '').replace(/\\(.*?\\)/g, '')\n  .replace(/^\\s*(#{1,3}.*|[A-Z\\s]+:.*|\\d+:\\d+.*|---.*)/gm, '')\n  .replace(/\\n{3,}/g, '\\n\\n').trim();\n\nconst prevVars = $('Set Project Variables').item.json;\n\nreturn [{ json: {\n  ...prevVars,\n  fullOutput: fullText,\n  scriptText,\n  voiceoverText,\n  visualPromptsTable: promptsMatch ? promptsMatch[0].trim() : '',\n  chapterMarkers: chaptersMatch ? chaptersMatch[0].trim() : '',\n  thumbnailConcept: thumbMatch ? thumbMatch[0].trim() : '',\n  characterCount: voiceoverText.length,\n  estimatedMinutes: Math.round(voiceoverText.split(' ').length / 140)\n}}];"
      },
      "id": "node-10-parse-revised",
      "name": "Parse Revised Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        512
      ]
    },
    {
      "parameters": {
        "command": "={{ \"cat > \\\"\" + $json.projectDir + \"/scripts/full_output.md\\\" << 'RUINS_EOF'\\n\" + $json.fullOutput + \"\\nRUINS_EOF\\necho \\\"Revised script saved.\\\"\" }}"
      },
      "id": "node-11-save-revised-script",
      "name": "Save Revised Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2400,
        512
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "RUINS UNTOLD \u2014 VOICEOVER REVIEW",
        "formDescription": "={{ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'CASE FILE: ' + $('Set Project Variables').item.json.TOPIC + '\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n'+ 'VOICEOVER GENERATED\\n'+ $('Parse & Chunk Voiceover').item.json.chunkCount + ' chunks \u00b7 eleven_v3 \u00b7 voice continuity chained\\n\\n'+ 'LISTEN TO CONCATENATED AUDIO:\\n'+ $('Set Project Variables').item.json.projectDir + '/audio/voiceover_final.mp3\\n\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'Approve to continue production or reject to regenerate audio.' }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "CLEARANCE DECISION",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "CLEARED \u2014 TRANSMISSION APPROVED"
                  },
                  {
                    "option": "REJECTED \u2014 RE-RECORD REQUIRED"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "FIELD NOTES",
              "fieldType": "textarea",
              "placeholder": "Pacing issues, mispronunciations, tone problems \u2014 document them here."
            }
          ]
        },
        "options": {
          "formLayout": "wide"
        }
      },
      "id": "node-14-voiceover-review",
      "name": "Voiceover Review & Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3360,
        304
      ],
      "webhookId": "ruins-voiceover-review"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-vo",
              "leftValue": "={{ $json.Decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-15-voiceover-if",
      "name": "Voiceover Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3600,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3333/generate",
        "authentication": "none",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  prompt:\n    \"You are a video post-production supervisor for Ruins Untold YouTube channel. Analyze scripts and identify precise placement cues for visual media, background music, and sound effects. Output structured JSON only.\"\n    + \"\\n\\n---\\n\\n\"\n    + 'Analyze this script and identify where images, video clips, background music, and sound effects should be placed. For each cue output a JSON array with objects: {type: \"image\"|\"video\"|\"music\"|\"sfx\", timestamp: \"MM:SS\", duration_seconds: N, description: \"...\", mood: \"...\", script_line: \"first few words of line\"}.\\n\\nRules:\\n- Images: for slower, static moments or evidence presentation\\n- Videos: for dramatic reveals, establishing shots, action sequences\\n- Music: background scoring (note: underscore, peak, outro)\\n- SFX: punctuation sounds (wind, impact, rumble, breath)\\n\\nSCRIPT:\\n' + $json.scriptText\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-16-claude-analyze",
      "name": "Analyze Media Placement \u2014 Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3840,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3333/generate",
        "authentication": "none",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  prompt:\n    \"You generate structured asset prompt arrays for a YouTube documentary production pipeline. Output only valid JSON arrays, no markdown.\"\n    + \"\\n\\n---\\n\\n\"\n    + 'Based on this visual prompts table and placement analysis, generate four JSON arrays:\\n\\n1. IMAGE_PROMPTS: array of {index: N, timestamp: \"MM:SS\", nb2_prompt: {12-field NB2 JSON}, filename: \"img_NNNN.png\"}\\n   NB2 locked fields: style:\"Photorealistic, cinematic, 8K\", color_palette:[\"cinematic teal-orange desaturation\",\"deep shadow accent\",\"warm ochre highlights\"], lighting:\"golden hour sidelighting or deep chiaroscuro shadow\", mood:\"ancient, mysterious, slightly ominous\", negative_constraints:[\"no modern elements\",\"no flat lighting\",\"no extra limbs\",\"no motion blur\"]\\n\\n2. VIDEO_PROMPTS: array of {index: N, timestamp: \"MM:SS\", duration_seconds: 8, veo_prompt: \"[Cinematography]+[Subject]+[Action]+[Context]+[Style] 100-150 words with Dialogue: SFX: Ambient: audio layers\", filename: \"vid_NNNN.mp4\"}\\n\\n3. MUSIC_PROMPTS: array of {index: N, timestamp: \"MM:SS\", duration_seconds: N, type: \"underscore\"|\"peak\"|\"outro\", prompt: \"ElevenLabs sound generation prompt for cinematic background music\", filename: \"music_NN.mp3\"}\\n\\n4. SFX_PROMPTS: array of {index: N, timestamp: \"MM:SS\", duration_seconds: N, prompt: \"ElevenLabs sound generation prompt for sound effect\", filename: \"sfx_NN.mp3\"}\\n\\nVISUAL PROMPTS TABLE:\\n' + $json.visualPromptsTable + '\\n\\nPLACEMENT ANALYSIS:\\n' + $('Analyze Media Placement \u2014 Claude').item.json.content[0].text\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-17-claude-prompts",
      "name": "Generate Asset Prompts \u2014 Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4080,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst rawText = response.output;\n\nlet imagePrompts = [], videoPrompts = [], musicPrompts = [], sfxPrompts = [];\n\ntry {\n  const imgMatch = rawText.match(/IMAGE_PROMPTS[^\\[]*([\\s\\S]*?)(?=VIDEO_PROMPTS|$)/i);\n  const vidMatch = rawText.match(/VIDEO_PROMPTS[^\\[]*([\\s\\S]*?)(?=MUSIC_PROMPTS|$)/i);\n  const musMatch = rawText.match(/MUSIC_PROMPTS[^\\[]*([\\s\\S]*?)(?=SFX_PROMPTS|$)/i);\n  const sfxMatch = rawText.match(/SFX_PROMPTS[^\\[]*([\\s\\S]*?)(?=\\n\\n[A-Z]|$)/i);\n\n  const extractArray = (match) => {\n    if (!match) return [];\n    const arrMatch = match[0].match(/\\[[\\s\\S]*\\]/);\n    if (!arrMatch) return [];\n    try { return JSON.parse(arrMatch[0]); } catch(e) { return []; }\n  };\n\n  imagePrompts = extractArray(imgMatch);\n  videoPrompts = extractArray(vidMatch);\n  musicPrompts = extractArray(musMatch);\n  sfxPrompts = extractArray(sfxMatch);\n} catch(e) {\n  console.error('Prompt parse error:', e.message);\n}\n\nconst prevData = $('Parse Script Response').item.json;\n\nreturn [{ json: {\n  ...prevData,\n  imagePrompts,\n  videoPrompts,\n  musicPrompts,\n  sfxPrompts,\n  rawPromptsOutput: rawText,\n  imageTotalCount: imagePrompts.length,\n  videoTotalCount: videoPrompts.length,\n  musicTotalCount: musicPrompts.length,\n  sfxTotalCount: sfxPrompts.length\n}}];"
      },
      "id": "node-18-parse-prompts",
      "name": "Parse Asset Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        304
      ]
    },
    {
      "parameters": {
        "command": "={{ \"cat > \\\"\" + $json.projectDir + \"/scripts/asset_prompts.json\\\" << 'RUINS_EOF'\\n\" + $json.rawPromptsOutput + \"\\nRUINS_EOF\\necho \\\"Prompts saved: \" + $json.imageTotalCount + \" images, \" + $json.videoTotalCount + \" videos, \" + $json.musicTotalCount + \" music, \" + $json.sfxTotalCount + \" sfx\\\"\" }}"
      },
      "id": "node-19-save-prompts",
      "name": "Save Prompts File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4560,
        304
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "RUINS UNTOLD \u2014 ASSET AUTHORIZATION",
        "formDescription": "={{ 'CASE FILE: ' + $json.TOPIC + '\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'ASSETS QUEUED FOR GENERATION:\\n\\n'+ '  IMAGES  (NanoBanana 2)   ' + $json.imageTotalCount + ' prompts\\n'+ '  VIDEOS  (Veo 3.1 Fast)   ' + $json.videoTotalCount + ' prompts\\n'+ '  MUSIC   (ElevenLabs)     ' + $json.musicTotalCount + ' cues\\n'+ '  SFX     (ElevenLabs)     ' + $json.sfxTotalCount + ' cues\\n\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'PROMPT FILE \u2192 ' + $json.projectDir + '/scripts/asset_prompts.json\\n\\n'+ 'WARNING: Authorization commits to generation API costs.\\n'+ 'Review the prompt file before proceeding. There is no undo.'  }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "AUTHORIZATION",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AUTHORIZE \u2014 COMMENCE GENERATION"
                  },
                  {
                    "option": "HOLD \u2014 REVISIONS REQUIRED"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "REVISION DIRECTIVE",
              "fieldType": "textarea",
              "placeholder": "Which prompts need to change and why? Be specific."
            }
          ]
        },
        "options": {
          "formLayout": "wide"
        }
      },
      "id": "node-20-prompts-review",
      "name": "Prompts Review & Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4800,
        304
      ],
      "webhookId": "ruins-prompts-review"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-prompts",
              "leftValue": "={{ $json.Decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-21-prompts-if",
      "name": "Prompts Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5040,
        304
      ]
    },
    {
      "parameters": {
        "mode": "waitForAll",
        "options": {}
      },
      "id": "node-38-merge-assets",
      "name": "All Assets Complete",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        6000,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsedData = $('Parse Asset Prompts').item.json;\nconst projectDir = parsedData.projectDir;\n\nconst manifest = {\n  projectDir,\n  topic: parsedData.TOPIC,\n  voiceover: projectDir + '/audio/voiceover.mp3',\n  images: (parsedData.imagePrompts || []).map(p => ({\n    filename: projectDir + '/images/' + p.filename,\n    timestamp: p.timestamp,\n    duration: 8\n  })),\n  videos: (parsedData.videoPrompts || []).map(p => ({\n    filename: projectDir + '/videos/' + p.filename,\n    timestamp: p.timestamp,\n    duration: p.duration_seconds || 8\n  })),\n  music: (parsedData.musicPrompts || []).map(p => ({\n    filename: projectDir + '/music/' + p.filename,\n    timestamp: p.timestamp,\n    duration: p.duration_seconds || 30,\n    type: p.type\n  })),\n  sfx: (parsedData.sfxPrompts || []).map(p => ({\n    filename: projectDir + '/sfx/' + p.filename,\n    timestamp: p.timestamp,\n    duration: p.duration_seconds || 5\n  }))\n};\n\nreturn [{ json: { manifest, projectDir, TOPIC: parsedData.TOPIC } }];"
      },
      "id": "node-39-build-manifest",
      "name": "Build Asset Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6240,
        512
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "RUINS UNTOLD \u2014 FINAL CLEARANCE",
        "formDescription": "={{ 'CASE FILE: ' + $json.TOPIC + '\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'ASSET STAGING DIRECTORY:\\n'+ $json.projectDir + '\\n\\n'+ '  /images/     \u2014 visual assets\\n'+ '  /videos/     \u2014 motion assets\\n'+ '  /music/      \u2014 score\\n'+ '  /sfx/        \u2014 sound effects\\n'+ '  /audio/      \u2014 voiceover.mp3\\n\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'Review all staged assets before issuing final clearance.\\n'+ 'FFmpeg assembly is the final step \u2014 the video cannot be unbuilt.'  }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "FINAL AUTHORIZATION",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "EXECUTE \u2014 ASSEMBLE FINAL CUT"
                  },
                  {
                    "option": "HOLD \u2014 DO NOT ASSEMBLE"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "POST-PRODUCTION NOTES",
              "fieldType": "textarea",
              "placeholder": "Any notes for the record before assembly begins..."
            }
          ]
        },
        "options": {
          "formLayout": "wide"
        }
      },
      "id": "node-40-assets-review",
      "name": "Assets Review & Final Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        6480,
        512
      ],
      "webhookId": "ruins-assets-review"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-assets",
              "leftValue": "={{ $json.Decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-41-assets-if",
      "name": "Assets Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6720,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const { manifest, projectDir } = $input.item.json;\n\nconst slugify = s => s.toLowerCase().replace(/[^a-z0-9]+/g, '_').substring(0, 40);\nconst outputFile = `/Users/jneal/Antigravity/out/${slugify(manifest.topic)}_final.mp4`;\nconst concatFile = `${projectDir}/scripts/video_concat.txt`;\nconst musicMixFile = `${projectDir}/scripts/music_concat.txt`;\n\n// Build concat list from videos and images sorted by timestamp\nconst allVisuals = [\n  ...manifest.images.map(i => ({ ...i, mediaType: 'image' })),\n  ...manifest.videos.map(v => ({ ...v, mediaType: 'video' }))\n].sort((a, b) => {\n  const toSec = t => { const [m,s] = (t||'0:00').split(':'); return parseInt(m)*60+parseInt(s); };\n  return toSec(a.timestamp) - toSec(b.timestamp);\n});\n\nconst concatLines = allVisuals.map(v => {\n  if (v.mediaType === 'image') {\n    return `file '${v.filename}'\\nduration ${v.duration || 8}`;\n  } else {\n    return `file '${v.filename}'`;\n  }\n}).join('\\n');\n\n// Music concat\nconst musicLines = manifest.music.map(m => `file '${m.filename}'\\nduration ${m.duration}`).join('\\n');\n\n// Build SFX filter inputs\nconst sfxInputs = manifest.sfx.map((s, i) => `-i \"${s.filename}\"`).join(' ');\nconst sfxMixParts = manifest.sfx.map((_, i) => `[${i + 3}:a]`).join('');\nconst totalAudioInputs = manifest.sfx.length + 3;\nconst sfxMixFilter = manifest.sfx.length > 0\n  ? `;${sfxMixParts}amix=inputs=${manifest.sfx.length}[sfxmix];[2:a][sfxmix]amix=inputs=2:weights=1 0.15[bgmix];[1:a][bgmix]amix=inputs=2:weights=1 0.25[aout]`\n  : ';[1:a][2:a]amix=inputs=2:weights=1 0.20[aout]';\n\nconst ffmpegCmd = `#!/bin/bash\nset -e\n\nPROJECT_DIR=\"${projectDir}\"\nOUTPUT=\"${outputFile}\"\n\n# Write concat file for visuals\ncat > \"${concatFile}\" << 'CONCAT_EOF'\n${concatLines}\nCONCAT_EOF\n\n# Write music concat\ncat > \"${musicMixFile}\" << 'MUSIC_EOF'\n${musicLines}\nMUSIC_EOF\n\n# Assemble music track\nffmpeg -y -f concat -safe 0 -i \"${musicMixFile}\" -c:a libmp3lame -q:a 4 \"${projectDir}/audio/music_combined.mp3\"\n\n# Final assembly: visuals + voiceover + music + sfx\nffmpeg -y \\\\\n  -f concat -safe 0 -i \"${concatFile}\" \\\\\n  -i \"${manifest.voiceover}\" \\\\\n  -i \"${projectDir}/audio/music_combined.mp3\" \\\\\n  ${sfxInputs} \\\\\n  -filter_complex \"[0:v]scale=1920:1080:force_original_aspect_ratio=decrease,pad=1920:1080:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=30[vout]${sfxMixFilter}\" \\\\\n  -map \"[vout]\" -map \"[aout]\" \\\\\n  -c:v libx264 -crf 18 -preset slow -profile:v high \\\\\n  -c:a aac -b:a 192k -ar 48000 \\\\\n  -movflags +faststart \\\\\n  -t $(ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"${manifest.voiceover}\") \\\\\n  \"$OUTPUT\"\n\necho \"Assembly complete: $OUTPUT\"\n`;\n\nreturn [{ json: { ffmpegScript: ffmpegCmd, outputFile, scriptPath: `${projectDir}/scripts/assemble.sh`, projectDir, TOPIC: manifest.topic } }];"
      },
      "id": "node-42-ffmpeg-script",
      "name": "Generate FFMpeg Assembly Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6960,
        512
      ]
    },
    {
      "parameters": {
        "command": "={{ \"cat > \\\"\" + $json.scriptPath + \"\\\" << 'RUINS_EOF'\\n\" + $json.ffmpegScript + \"\\nRUINS_EOF\\nchmod +x \\\"\" + $json.scriptPath + \"\\\"\\necho \\\"Assembly script written to: \" + $json.scriptPath + \"\\\"\" }}"
      },
      "id": "node-43-write-ffmpeg",
      "name": "Write Assembly Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        7200,
        512
      ]
    },
    {
      "parameters": {
        "command": "={{ \"bash \\\"\" + $json.scriptPath + \"\\\" 2>&1\" }}"
      },
      "id": "node-44-run-ffmpeg",
      "name": "Assemble Final Video \u2014 FFMpeg",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        7440,
        512
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-45-done",
      "name": "Production Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        7680,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst prompts = d.imagePrompts || [];\nreturn prompts.map((p, i) => {\n  const rowNum = i + 1;\n  const promptJson = typeof p.nb2_prompt === 'object'\n    ? JSON.stringify(p.nb2_prompt)\n    : (p.nb2_prompt || '');\n  return {\n    json: {\n      'Index':    rowNum,\n      'Type':     'Image',\n      'Prompt':   '\"' + promptJson + '\"',\n      'Filename': 'image_' + String(rowNum).padStart(4, '0')\n    }\n  };\n});"
      },
      "id": "node-22-expand-images",
      "name": "Expand Image Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsedData = $('Parse Asset Prompts').item.json;\nconst prompts = parsedData.videoPrompts || [];\nreturn prompts.map((p, i) => {\n  const rowNum = i + 1;\n  const promptText = p.veo_prompt || '';\n  return {\n    json: {\n      'Index':    rowNum,\n      'Type':     'Video',\n      'Prompt':   '\"' + promptText + '\"',\n      'Filename': 'video_' + String(rowNum).padStart(4, '0')\n    }\n  };\n});"
      },
      "id": "node-24-expand-videos",
      "name": "Expand Video Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst prompts = d.musicPrompts || [];\nreturn prompts.map(p => ({ json: { ...p, projectDir: d.projectDir } }));"
      },
      "id": "node-26-expand-music",
      "name": "Expand Music Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst prompts = d.sfxPrompts || [];\nreturn prompts.map(p => ({ json: { ...p, projectDir: d.projectDir } }));"
      },
      "id": "node-27-expand-sfx",
      "name": "Expand SFX Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        800
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "RUINS UNTOLD \u2014 MANUAL MEDIA GENERATION",
        "formDescription": "={{ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'CASE FILE: ' + $('Set Project Variables').item.json.TOPIC + '\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n'+ 'All prompt files have been written to:\\n'+ $('Set Project Variables').item.json.projectDir + '/\\n\\n'+ 'WHAT TO DO\\n'+ '\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\\n'+ 'IMAGE PROMPTS  \u2192 images/    \u2192 generate images, save as img_001.png \u2026\\n'+ 'VIDEO PROMPTS  \u2192 video/     \u2192 generate clips,  save as clip_001.mp4 \u2026\\n'+ 'MUSIC CUES     \u2192 audio/music_prompts.txt\\n'+                '               \u2192 generate, save as music_cue_01.mp3 \u2026\\n'+ 'SFX CUES       \u2192 audio/sfx_prompts.txt\\n'+                '               \u2192 generate, save as sfx_cue_01.mp3 \u2026\\n\\n'+ '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n'+ 'Approve when ALL files are in place.' }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "STAGING CONFIRMATION",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ALL FILES STAGED \u2014 PROCEED TO ASSEMBLY"
                  },
                  {
                    "option": "ABORT \u2014 FILES NOT READY"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "FIELD NOTES",
              "fieldType": "textarea",
              "placeholder": "Any files skipped, renamed, or substituted? Document deviations here."
            }
          ]
        },
        "options": {
          "formLayout": "wide"
        }
      },
      "id": "node-38b-manual-wait",
      "name": "Wait \u2014 Manual Image & Video Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        6720,
        304
      ],
      "webhookId": "ruins-manual-generation-wait"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "image_prompts",
          "headerRow": true,
          "sheetName": "Image Prompts"
        }
      },
      "id": "node-23-xlsx-images",
      "name": "Write Image Prompts \u2014 XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        5520,
        144
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $('Parse Asset Prompts').item.json.projectDir }}/scripts/image_prompts.xlsx",
        "options": {}
      },
      "id": "node-23b-save-image-xlsx",
      "name": "Save Image Prompts File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        5760,
        144
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "video_prompts",
          "headerRow": true,
          "sheetName": "Video Prompts"
        }
      },
      "id": "node-25-xlsx-videos",
      "name": "Write Video Prompts \u2014 XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        6240,
        144
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $('Parse Asset Prompts').item.json.projectDir }}/scripts/video_prompts.xlsx",
        "options": {}
      },
      "id": "node-25b-save-video-xlsx",
      "name": "Save Video Prompts File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        6480,
        144
      ]
    },
    {
      "id": "node-mark-in-progress",
      "name": "Mark In Progress",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        360,
        304
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kF8cfyh3qZZIcPcSWYs8olZZYPxFhxBTUhtjK04Eb68",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "gid"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TOPIC": "={{ $json.TOPIC }}",
            "STATUS": "In Progress"
          },
          "matchingColumns": [
            "TOPIC"
          ],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "node-mark-complete",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        7920,
        512
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kF8cfyh3qZZIcPcSWYs8olZZYPxFhxBTUhtjK04Eb68",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "gid"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TOPIC": "={{ $('Set Project Variables').item.json.TOPIC }}",
            "STATUS": "Complete"
          },
          "matchingColumns": [
            "TOPIC"
          ],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "enhance-vo-claude",
      "name": "Enhance Script \u2014 TTS Formatting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        304
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({  prompt: 'You are an expert audio director for The Ruins Untold \u2014 a YouTube channel covering ancient mysteries, forbidden archaeology, and suppressed history.\\nThe voice is authoritative, investigative, and slightly conspiratorial. Stability is set to Creative (0), so the voice is expressive and responsive to every tag.\\n\\nYOUR TASK: Enhance the voiceover script below for ElevenLabs Eleven V3 using the official V3 enhancement system. Follow these rules exactly:\\n\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\nSTEP 1 \u2014 ANALYZE MOOD SECTION BY SECTION\\nRead the script and identify the emotional arc: opening hook, evidence reveals, cover-up moments, rhetorical questions, and closing revelation.\\n\\nSTEP 2 \u2014 INTEGRATE V3 AUDIO TAGS\\nPlace bracketed tags BEFORE the dialogue segment they affect. Use these for the Ruins Untold style:\\n  \u2022 [curious] \u2014 before investigative questions and \"what if\" moments\\n  \u2022 [whispers] \u2014 before forbidden or suppressed revelations\\n  \u2022 [sighs] \u2014 after frustrating cover-up statements\\n  \u2022 [sarcastic] \u2014 when citing the official narrative before dismantling it\\n  \u2022 [appalled] \u2014 at moments of institutional betrayal or suppression\\n  \u2022 [exhales] \u2014 after a bombshell statement lands\\n  \u2022 [excited] \u2014 before a major discovery or anomaly is named\\n  \u2022 [mischievously] \u2014 teasing a reveal the audience won\\'t expect\\nTags go BEFORE the sentence they color, at natural speech boundaries. Never stack more than one tag in a row.\\n\\nSTEP 3 \u2014 ADD STRUCTURAL BREAKS\\nUse SSML break tags for section transitions and major dramatic pauses only:\\n  \u2022 <break time=\"0.8s\"/> \u2014 before the opening hook lands and before major section shifts\\n  \u2022 <break time=\"0.5s\"/> \u2014 after a hard-hitting statement or rhetorical question\\n  \u2022 <break time=\"0.3s\"/> \u2014 at em dashes and before \\'But...\\', \\'Yet...\\', \\'And then...\\'\\n\\nSTEP 4 \u2014 PUNCTUATION EMPHASIS\\n  \u2022 Use CAPITALIZATION on key anomaly terms, named evidence, and institutions being called out\\n  \u2022 Use ellipses (...) for hesitant, weighted pauses where the mystery deepens\\n  \u2022 Standard punctuation creates natural rhythm \u2014 trust it\\n\\nSTEP 5 \u2014 VERIFY\\n  \u2022 NEVER alter, add, or remove any words from the original script\\n  \u2022 Do not add music/movement tags \u2014 voice tags only\\n  \u2022 Every tag must earn its place \u2014 do NOT over-tag\\n  \u2022 Return ONLY the enhanced script text. No headings, labels, or explanations.\\n\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\nEXAMPLE TRANSFORMATION (do not copy these topics \u2014 they are reference only):\\n\\nBEFORE: \"The Smithsonian has known about this artifact since 1887. And they never told anyone.\"\\nAFTER:  \"[sarcastic] The SMITHSONIAN has known about this artifact since 1887. [exhales] And they never told anyone.\"\\n\\nBEFORE: \"What if the builders weren\\'t human at all?\"\\nAFTER:  \"[curious] What if the builders weren\\'t human at all?\"\\n\\nBEFORE: \"The evidence was buried. Literally.\"\\nAFTER:  \"[whispers] The evidence was buried. <break time=\"0.5s\"/> Literally.\"\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n---\\n\\n' + 'TOPIC: ' + $('Set Project Variables').item.json.TOPIC + '\\n\\n' + 'SCRIPT:\\n' + $json.voiceoverText}) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "chunk-vo-code",
      "name": "Parse & Chunk Voiceover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        304
      ],
      "parameters": {
        "jsCode": "\nconst enhancedText = $input.item.json.output || '';\nconst projectVars   = $('Set Project Variables').item.json;\nconst audioDir      = projectVars.projectDir + '/audio';\nconst MAX_CHARS     = 4500;\n\n// Smart split: respect sentence boundaries and <break/> tags\nfunction chunkText(text, maxLen) {\n  // Split on sentence-ending punctuation followed by whitespace\n  const sentenceRe = /[^.!?<]*(?:<[^>]+>)*[^.!?]*[.!?]+(?:\\s+|$)/g;\n  const sentences = [];\n  let m;\n  let last = 0;\n  while ((m = sentenceRe.exec(text)) !== null) {\n    sentences.push(m[0]);\n    last = sentenceRe.lastIndex;\n  }\n  if (last < text.length) sentences.push(text.slice(last));\n\n  const chunks = [];\n  let current = '';\n  for (const s of sentences) {\n    if (s.length > maxLen) {\n      // Sentence itself too long \u2014 split at last space before limit\n      if (current) { chunks.push(current.trim()); current = ''; }\n      let rem = s;\n      while (rem.length > maxLen) {\n        const cut = rem.lastIndexOf(' ', maxLen);\n        chunks.push(rem.slice(0, cut > 0 ? cut : maxLen).trim());\n        rem = rem.slice(cut > 0 ? cut + 1 : maxLen);\n      }\n      current = rem;\n    } else if (current.length + s.length > maxLen) {\n      chunks.push(current.trim());\n      current = s;\n    } else {\n      current += s;\n    }\n  }\n  if (current.trim()) chunks.push(current.trim());\n  return chunks;\n}\n\nconst chunks = chunkText(enhancedText, MAX_CHARS);\nconst padded  = n => String(n).padStart(2, '0');\n\n// Build a bash write script using unique EOF markers per chunk\nlet writeScript = `mkdir -p \"${audioDir}\"\\n`;\nchunks.forEach((chunk, i) => {\n  const num    = padded(i + 1);\n  const marker = `RUINS_CHUNK_${num}_EOF`;\n  writeScript += `cat > \"${audioDir}/voiceover_chunk_${num}.txt\" << '${marker}'\\n${chunk}\\n${marker}\\n\\n`;\n});\n\n// Instructions file\nconst lastNum = padded(chunks.length);\nconst instMarker = 'RUINS_INST_EOF';\nwriteScript += `cat > \"${audioDir}/VOICEOVER_INSTRUCTIONS.txt\" << '${instMarker}'\\n`;\nwriteScript += `RUINS UNTOLD \u2014 VOICEOVER INSTRUCTIONS\\n`;\nwriteScript += `======================================\\n`;\nwriteScript += `Chunks : ${chunks.length}\\n`;\nwriteScript += `Model  : eleven_v3\\n`;\nwriteScript += `Voice  : [Your ElevenLabs Voice \u2014 paste your voice name here]\\n\\n`;\nwriteScript += `For each chunk (voiceover_chunk_01.txt \u2192 voiceover_chunk_${lastNum}.txt):\\n`;\nwriteScript += `  1. Open the .txt file\\n`;\nwriteScript += `  2. Paste into ElevenLabs (eleven_v3 model)\\n`;\nwriteScript += `  3. Generate + download MP3\\n`;\nwriteScript += `  4. Save as chunk_01.mp3 \u2192 chunk_${lastNum}.mp3 IN THIS FOLDER\\n\\n`;\nwriteScript += `When all ${chunks.length} MP3s are present, return to n8n and approve.\\n`;\nwriteScript += `${instMarker}\\n`;\nwriteScript += `echo \"Wrote ${chunks.length} voiceover chunks to ${audioDir}\"\\n`;\n\nreturn [{\n  json: {\n    ...projectVars,\n    chunkCount:  chunks.length,\n    audioDir:    audioDir,\n    writeScript: writeScript,\n    chunkSizes:  chunks.map((c, i) => `chunk_${padded(i+1)}: ${c.length} chars`)\n  }\n}];\n"
      }
    },
    {
      "id": "write-vo-chunks",
      "name": "Write Voiceover Chunks",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2400,
        304
      ],
      "parameters": {
        "command": "={{ $json.writeScript }}"
      }
    },
    {
      "id": "concat-vo-audio",
      "name": "Concatenate Voiceover Audio",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3120,
        304
      ],
      "parameters": {
        "command": "={{ 'cd \"' + $json.audioDir + '\" && '+ 'ls chunk_*.mp3 2>/dev/null | sort | awk \\'{print \"file \\047\" $0 \"\\047\"}\\'  > /tmp/ruins_concat_list_' + $json.projectSlug + '.txt && '+ 'if [ -s /tmp/ruins_concat_list_' + $json.projectSlug + '.txt ]; then '+   'ffmpeg -y -f concat -safe 0 -i /tmp/ruins_concat_list_' + $json.projectSlug + '.txt -c copy \"' + $json.audioDir + '/voiceover_final.mp3\" && '+   'echo \"\u2713 Concatenated ' + $json.chunkCount + ' chunks \u2192 voiceover_final.mp3\"; '+ 'else '+   'echo \"WARNING: No chunk_*.mp3 files found in ' + $json.audioDir + '\"; '+ 'fi' }}"
      }
    },
    {
      "id": "expand-chunk-items",
      "name": "Expand Chunk Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        304
      ],
      "parameters": {
        "jsCode": "\n// Source chunk data from the Parse node (Write Voiceover Chunks loses JSON context)\nconst chunkData = $('Parse & Chunk Voiceover').item.json;\nconst chunks    = chunkData.chunks;\nconst audioDir  = chunkData.audioDir;\nconst padded    = n => String(n).padStart(2, '0');\n\n// Reset request-id chain for a fresh voiceover run\nconst staticData = $getWorkflowStaticData('global');\nstaticData.ruinsVoicePrevIds = [];\n\nreturn chunks.map((chunkText, i) => ({\n  json: {\n    TOPIC:        chunkData.TOPIC,\n    VOICE_ID:     chunkData.VOICE_ID,\n    projectSlug:  chunkData.projectSlug,\n    projectDir:   chunkData.projectDir,\n    audioDir:     audioDir,\n    chunkIndex:   i,\n    chunkNumber:  padded(i + 1),\n    chunkText:    chunkText,\n    chunkCount:   chunks.length,\n    isFirstChunk: i === 0,\n    filename:     `${audioDir}/chunk_${padded(i + 1)}.mp3`\n  }\n}));\n"
      }
    },
    {
      "id": "split-chunks-batches",
      "name": "Split Chunks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2880,
        304
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "prepare-chunk-req",
      "name": "Prepare Chunk Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        600
      ],
      "parameters": {
        "jsCode": "\nconst item       = $input.item.json;\nconst staticData = $getWorkflowStaticData(\"global\");\n\nconst kieInput = {\n  dialogue: [\n    {\n      text:  item.chunkText,\n      voice: \"4YYIPFl9wE5c4L2eu2Gb\"  // Ruins Untold voice ID\n    }\n  ],\n  stability: 0\n};\n\n// Chain previous_request_ids for voice continuity (chunks 2+)\nif (!item.isFirstChunk && staticData.ruinsVoicePrevIds && staticData.ruinsVoicePrevIds.length > 0) {\n  kieInput.previous_request_ids = staticData.ruinsVoicePrevIds.slice(-3);\n}\n\nconst kieBody = {\n  model: \"elevenlabs/text-to-dialogue-v3\",\n  input: kieInput\n};\n\nreturn [{\n  json: {\n    ...item,\n    kieBody:         JSON.stringify(kieBody),\n    includedPrevIds: kieInput.previous_request_ids || []\n  }\n}];\n"
      }
    },
    {
      "id": "save-chunk-audio",
      "name": "Save Chunk Audio",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        4800,
        600
      ],
      "parameters": {
        "fileName": "={{ $json.filename }}",
        "options": {}
      }
    },
    {
      "id": "submit-to-kieai",
      "name": "Submit to Kie.ai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kieai-api-key",
          "name": "Kie.ai API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.kieBody }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "extract-task-id",
      "name": "Extract Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        600
      ],
      "parameters": {
        "jsCode": "\nconst response  = $input.item.json;\nconst chunkMeta = $('Prepare Chunk Request').item.json;\n\nif (response.code !== 200) {\n  throw new Error(`Kie.ai createTask failed (chunk ${chunkMeta.chunkNumber}): ${response.msg}`);\n}\n\nconst taskId = response.data.taskId;\n\nreturn [{\n  json: {\n    ...chunkMeta,\n    kieTaskId: taskId\n  }\n}];\n"
      }
    },
    {
      "id": "wait-for-kieai",
      "name": "Wait for Kie.ai",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3600,
        600
      ],
      "webhookId": "wait-kieai-poll",
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 10
      }
    },
    {
      "id": "poll-kieai-status",
      "name": "Poll Kie.ai Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kieai-api-key",
          "name": "Kie.ai API Key"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('Extract Task ID').item.json.kieTaskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "kieai-complete-if",
      "name": "Kie.ai Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4080,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-kieai-done",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "store-id-audio-url",
      "name": "Store ID & Get Audio URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        600
      ],
      "parameters": {
        "jsCode": "\nconst pollResponse = $input.item.json;\nconst chunkMeta    = $('Prepare Chunk Request').item.json;\nconst staticData   = $getWorkflowStaticData('global');\n\n// Parse resultJson to find ElevenLabs request_id if exposed\nlet resultJson = {};\ntry {\n  resultJson = JSON.parse(pollResponse.data.resultJson || '{}');\n} catch(e) {}\n\n// ElevenLabs history_item_id is the value to chain as previous_request_ids\n// Kie.ai may expose it in resultJson; fallback to taskId\nconst requestId =\n  resultJson.request_id     ||\n  resultJson.history_item_id||\n  resultJson.requestId      ||\n  $('Extract Task ID').item.json.kieTaskId;  // fallback: taskId\n\n// Chain into static data (max 3, ElevenLabs limit)\nif (!staticData.ruinsVoicePrevIds) staticData.ruinsVoicePrevIds = [];\nstaticData.ruinsVoicePrevIds.push(requestId);\nif (staticData.ruinsVoicePrevIds.length > 3) {\n  staticData.ruinsVoicePrevIds = staticData.ruinsVoicePrevIds.slice(-3);\n}\n\nconst audioUrl = (pollResponse.data.resultUrls || [])[0] || '';\n\nif (!audioUrl) {\n  throw new Error(`Chunk ${chunkMeta.chunkNumber}: no audio URL in kie.ai response`);\n}\n\nreturn [{\n  json: {\n    ...chunkMeta,\n    kieRequestId: requestId,\n    audioUrl:     audioUrl,\n    chainedIds:   [...staticData.ruinsVoicePrevIds]\n  }\n}];\n"
      }
    },
    {
      "id": "download-chunk-audio",
      "name": "Download Chunk Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        600
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.audioUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      }
    },
    {
      "id": "write-music-prompts",
      "name": "Write Music Prompts File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        608
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst items      = $input.all();\nconst projVars   = $('Set Project Variables').item.json;\nconst audioDir   = projVars.projectDir + '/audio';\nconst padded     = n => String(n).padStart(2, '0');\n\nconst lines = items.map((item, i) => {\n  const p   = item.json;\n  const num = padded(i + 1);\n  return [\n    `CUE ${num}`,\n    `Prompt   : ${p.prompt || p.description || ''}`,\n    `Duration : ${p.duration_seconds || 30}s`,\n    `Mood     : ${p.mood || ''}`,\n    `Placement: ${p.timestamp || p.placement || ''}`,\n    `---`\n  ].join('\\n');\n}).join('\\n\\n');\n\nconst marker  = 'RUINS_MUSIC_EOF';\nconst writeCmd = [\n  `mkdir -p \"${audioDir}\"`,\n  `cat > \"${audioDir}/music_prompts.txt\" << '${marker}'`,\n  `RUINS UNTOLD \u2014 MUSIC CUES (${items.length} total)`,\n  ``,\n  `Generate each cue with your preferred tool and save as:`,\n  `  music_cue_01.mp3, music_cue_02.mp3 ... in:`,\n  `  ${audioDir}`,\n  ``,\n  lines,\n  marker,\n  `echo \"Wrote ${items.length} music cues to ${audioDir}/music_prompts.txt\"`\n].join('\\n');\n\nreturn [{ json: { ...projVars, audioDir, writeCmd, promptCount: items.length, promptType: 'music' } }];\n"
      }
    },
    {
      "id": "exec-write-music",
      "name": "Save Music Prompts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5760,
        608
      ],
      "parameters": {
        "command": "={{ $json.writeCmd }}"
      }
    },
    {
      "id": "write-sfx-prompts",
      "name": "Write SFX Prompts File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        800
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst items      = $input.all();\nconst projVars   = $('Set Project Variables').item.json;\nconst audioDir   = projVars.projectDir + '/audio';\nconst padded     = n => String(n).padStart(2, '0');\n\nconst lines = items.map((item, i) => {\n  const p   = item.json;\n  const num = padded(i + 1);\n  return [\n    `SFX ${num}`,\n    `Prompt   : ${p.prompt || p.description || ''}`,\n    `Duration : ${p.duration_seconds || 5}s`,\n    `Placement: ${p.timestamp || p.placement || ''}`,\n    `---`\n  ].join('\\n');\n}).join('\\n\\n');\n\nconst marker  = 'RUINS_SFX_EOF';\nconst writeCmd = [\n  `mkdir -p \"${audioDir}\"`,\n  `cat > \"${audioDir}/sfx_prompts.txt\" << '${marker}'`,\n  `RUINS UNTOLD \u2014 SFX CUES (${items.length} total)`,\n  ``,\n  `Generate each SFX with your preferred tool and save as:`,\n  `  sfx_cue_01.mp3, sfx_cue_02.mp3 ... in:`,\n  `  ${audioDir}`,\n  ``,\n  lines,\n  marker,\n  `echo \"Wrote ${items.length} SFX cues to ${audioDir}/sfx_prompts.txt\"`\n].join('\\n');\n\nreturn [{ json: { ...projVars, audioDir, writeCmd, promptCount: items.length, promptType: 'sfx' } }];\n"
      }
    },
    {
      "id": "exec-write-sfx",
      "name": "Save SFX Prompts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5760,
        800
      ],
      "parameters": {
        "command": "={{ $json.writeCmd }}"
      }
    }
  ],
  "connections": {
    "Set Project Variables": {
      "main": [
        [
          {
            "node": "Mark In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project Directories": {
      "main": [
        [
          {
            "node": "Generate Script \u2014 Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script \u2014 Claude": {
      "main": [
        [
          {
            "node": "Parse Script Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script Response": {
      "main": [
        [
          {
            "node": "Save Script to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Script to File": {
      "main": [
        [
          {
            "node": "Script Review & Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Review & Approval": {
      "main": [
        [
          {
            "node": "Script Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Approved?": {
      "main": [
        [
          {
            "node": "Enhance Script \u2014 TTS Formatting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revise Script \u2014 Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revise Script \u2014 Claude": {
      "main": [
        [
          {
            "node": "Parse Revised Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Revised Script": {
      "main": [
        [
          {
            "node": "Save Revised Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Revised Script": {
      "main": [
        [
          {
            "node": "Script Review & Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voiceover Review & Approval": {
      "main": [
        [
          {
            "node": "Voiceover Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voiceover Approved?": {
      "main": [
        [
          {
            "node": "Analyze Media Placement \u2014 Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expand Chunk Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Media Placement \u2014 Claude": {
      "main": [
        [
          {
            "node": "Generate Asset Prompts \u2014 Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Asset Prompts \u2014 Claude": {
      "main": [
        [
          {
            "node": "Parse Asset Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Asset Prompts": {
      "main": [
        [
          {
            "node": "Save Prompts File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Prompts File": {
      "main": [
        [
          {
            "node": "Prompts Review & Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts Review & Approval": {
      "main": [
        [
          {
            "node": "Prompts Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts Approved?": {
      "main": [
        [
          {
            "node": "Expand Image Prompts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expand Music Prompts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expand SFX Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Asset Prompts \u2014 Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Assets Complete": {
      "main": [
        [
          {
            "node": "Wait \u2014 Manual Image & Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Asset Manifest": {
      "main": [
        [
          {
            "node": "Assets Review & Final Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assets Review & Final Approval": {
      "main": [
        [
          {
            "node": "Assets Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assets Approved?": {
      "main": [
        [
          {
            "node": "Generate FFMpeg Assembly Script",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate FFMpeg Assembly Script": {
      "main": [
        [
          {
            "node": "Write Assembly Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Assembly Script": {
      "main": [
        [
          {
            "node": "Assemble Final Video \u2014 FFMpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Final Video \u2014 FFMpeg": {
      "main": [
        [
          {
            "node": "Production Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Image Prompts": {
      "main": [
        [
          {
            "node": "Write Image Prompts \u2014 XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Video Prompts": {
      "main": [
        [
          {
            "node": "Write Video Prompts \u2014 XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Music Prompts": {
      "main": [
        [
          {
            "node": "Write Music Prompts File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand SFX Prompts": {
      "main": [
        [
          {
            "node": "Write SFX Prompts File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait \u2014 Manual Image & Video Generation": {
      "main": [
        [
          {
            "node": "Build Asset Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Image Prompts \u2014 XLSX": {
      "main": [
        [
          {
            "node": "Save Image Prompts File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image Prompts File": {
      "main": [
        [
          {
            "node": "Expand Video Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Video Prompts \u2014 XLSX": {
      "main": [
        [
          {
            "node": "Save Video Prompts File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Prompts File": {
      "main": [
        [
          {
            "node": "All Assets Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Ruins Untold Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Ruins Untold Ideas": {
      "main": [
        [
          {
            "node": "Aggregate Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Topics": {
      "main": [
        [
          {
            "node": "Select Episode Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Episode Topic": {
      "main": [
        [
          {
            "node": "Look Up Selected Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look Up Selected Row": {
      "main": [
        [
          {
            "node": "Set Project Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark In Progress": {
      "main": [
        [
          {
            "node": "Create Project Directories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Production Complete": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Chunk Voiceover": {
      "main": [
        [
          {
            "node": "Write Voiceover Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Voiceover Chunks": {
      "main": [
        [
          {
            "node": "Expand Chunk Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate Voiceover Audio": {
      "main": [
        [
          {
            "node": "Voiceover Review & Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Chunk Items": {
      "main": [
        [
          {
            "node": "Split Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Chunks": {
      "main": [
        [
          {
            "node": "Prepare Chunk Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Concatenate Voiceover Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chunk Request": {
      "main": [
        [
          {
            "node": "Submit to Kie.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chunk Audio": {
      "main": [
        [
          {
            "node": "Split Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Kie.ai": {
      "main": [
        [
          {
            "node": "Extract Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task ID": {
      "main": [
        [
          {
            "node": "Wait for Kie.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Kie.ai": {
      "main": [
        [
          {
            "node": "Poll Kie.ai Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Kie.ai Status": {
      "main": [
        [
          {
            "node": "Kie.ai Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kie.ai Complete?": {
      "main": [
        [
          {
            "node": "Store ID & Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Kie.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store ID & Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Chunk Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chunk Audio": {
      "main": [
        [
          {
            "node": "Save Chunk Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Music Prompts File": {
      "main": [
        [
          {
            "node": "Save Music Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Music Prompts": {
      "main": [
        [
          {
            "node": "All Assets Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write SFX Prompts File": {
      "main": [
        [
          {
            "node": "Save SFX Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save SFX Prompts": {
      "main": [
        [
          {
            "node": "All Assets Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Script \u2014 TTS Formatting": {
      "main": [
        [
          {
            "node": "Parse & Chunk Voiceover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "ruins-untold"
  },
  "pinData": {},
  "versionId": "cdb675c3-069b-48ec-8124-e69d4dcc6c20",
  "activeVersionId": "cdb675c3-069b-48ec-8124-e69d4dcc6c20",
  "versionCounter": 77,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-18T19:06:43.033Z",
      "createdAt": "2026-05-18T19:06:43.033Z",
      "role": "workflow:owner",
      "workflowId": "ruins-untold-pipeline-v1",
      "projectId": "ltHsn5mbKZUTpYlg",
      "project": {
        "updatedAt": "2026-05-18T15:28:45.014Z",
        "createdAt": "2026-05-18T15:27:22.980Z",
        "id": "ltHsn5mbKZUTpYlg",
        "name": "JeezyAndNay Neal <unclejeezyandladynay@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "af2abf74-a4e9-4319-875f-87671c53e774"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-20T20:00:16.961Z",
    "createdAt": "2026-05-20T20:00:16.961Z",
    "versionId": "cdb675c3-069b-48ec-8124-e69d4dcc6c20",
    "workflowId": "ruins-untold-pipeline-v1",
    "nodes": [
      {
        "parameters": {
          "path": "ruins-untold-topic-form",
          "formTitle": "Ruins Untold \u2014 New Episode",
          "formDescription": "=Enter the episode details below to begin the production pipeline.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "TOPIC",
                "placeholder": "e.g. The Younger Dryas Impact Event",
                "requiredField": true
              },
              {
                "fieldLabel": "ANGLE",
                "fieldType": "textarea",
                "placeholder": "The specific question or argument this video is making...",
                "requiredField": true
              },
              {
                "fieldLabel": "KEY_EVIDENCE",
                "fieldType": "textarea",
                "placeholder": "2-5 specific sites, artifacts, or findings (comma or line separated)",
                "requiredField": true
              },
              {
                "fieldLabel": "KEY_RESEARCHERS",
                "fieldType": "textarea",
                "placeholder": "Researchers or sources to cite (comma or line separated)",
                "requiredField": true
              },
              {
                "fieldLabel": "RELATED_VIDEO",
                "placeholder": "Title of a previous Ruins Untold video to tease at the end"
              },
              {
                "fieldLabel": "HOOK_STYLE",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "contradiction"
                    },
                    {
                      "option": "question"
                    },
                    {
                      "option": "paradox"
                    },
                    {
                      "option": "evidence"
                    },
                    {
                      "option": "revelation"
                    },
                    {
                      "option": "statement"
                    },
                    {
                      "option": "anomaly"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "TONE_DIAL",
                "fieldType": "number",
                "placeholder": "0 = fully measured, 10 = fully conspiratorial (default: 7)",
                "requiredField": true
              },
              {
                "fieldLabel": "VOICE_ID",
                "placeholder": "ElevenLabs Voice ID for the host voiceover",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "id": "node-01-form-trigger",
        "name": "Video Topic Form",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2,
        "position": [
          0,
          304
        ],
        "webhookId": "ruins-untold-topic-form"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "pv-topic",
                "name": "TOPIC",
                "value": "={{ $json.TOPIC }}",
                "type": "string"
              },
              {
                "id": "pv-angle",
                "name": "ANGLE",
                "value": "={{ $json.ANGLE }}",
                "type": "string"
              },
              {
                "id": "pv-evidence",
                "name": "KEY_EVIDENCE",
                "value": "={{ $json.KEY_EVIDENCE }}",
                "type": "string"
              },
              {
                "id": "pv-researchers",
                "name": "KEY_RESEARCHERS",
                "value": "={{ $json.KEY_RESEARCHERS }}",
                "type": "string"
              },
              {
                "id": "pv-related",
                "name": "RELATED_VIDEO",
                "value": "={{ $json.RELATED_VIDEO || 'N/A' }}",
                "type": "string"
              },
              {
                "id": "pv-hook",
                "name": "HOOK_STYLE",
                "value": "={{ $json.HOOK_STYLE }}",
                "type": "string"
              },
              {
                "id": "pv-tone",
                "name": "TONE_DIAL",
                "value": "={{ $json.TONE_DIAL || 7 }}",
                "type": "number"
              },
              {
                "id": "pv-voice",
                "name": "VOICE_ID",
                "value": "={{ $json.VOICE_ID }}",
                "type": "string"
              },
              {
                "id": "pv-slug",
                "name": "projectSlug",
                "value": "={{ $json.TOPIC.toLowerCase().replace(/[^a-z0-9]+/g, '_').substring(0, 40) + '_' + new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 12) }}",
                "type": "string"
              },
              {
                "id": "pv-dir",
                "name": "projectDir",
                "value": "={{ '/Users/jneal/Antigravity/out/' + $json.TOPIC.toLowerCase().replace(/[^a-z0-9]+/g, '_').substring(0, 40) + '_' + new Date().toISOString().replace(/[^0-9]/g, '').substring(0, 12) }}",
                "type": "string"
              },
              {
                "id": "pv-revision",
                "name": "revisionNotes",
                "value": "",
                "type": "string"
              },
              {
                "id": "pv-vorev",
                "name": "voiceoverRevisionNotes",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "node-02-set-vars",
        "name": "Set Project Variables",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "command": "={{ 'mkdir -p \"' + $json.projectDir + '/audio\" \"' + $json.projectDir + '/images\" \"' + $json.projectDir + '/videos\" \"' + $json.projectDir + '/scripts\" \"' + $json.projectDir + '/music\" \"' + $json.projectDir + '/sfx\" && echo \"Directories created: ' + $json.projectDir + '\"' }}"
        },
        "id": "node-03-mkdir",
        "name": "Create Project Directories",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $credentials.httpHeaderAuth.value }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({\n  model: 'claude-opus-4-7',\n  max_tokens: 16000,\n  system: `You are the lead scriptwriter for Ruins Untold, a long-form YouTube channel exploring ancient mysteries, forbidden archaeology, and alternative history. Your job is to write scripts that sound like they were written by the host \u2014 not by an AI.\n\nCHANNEL IDENTITY\nChannel name: Ruins Untold\nFormat: Long-form YouTube (~20 minutes per video)\nCore premise: The gap between mainstream historical narrative and the physical, geological, and archaeological evidence that mainstream academia cannot \u2014 or will not \u2014 adequately explain.\nChannel promise: \"We go where the evidence leads, even when it leads somewhere uncomfortable.\"\n\nTONE PROFILE\nPRIMARY VOICE \u2014 Conversational authority. You know this material deeply. You have done the research. But you are sharing it with a friend, not presenting a dissertation. Never academic. Never breathless. Measured, deliberate, occasionally wry.\n\nCONSPIRATORIAL REGISTER \u2014 Slightly conspiratorial, never unhinged. The framing is always: \"Here is what the evidence shows. Draw your own conclusions.\" Never state unfalsifiable claims as fact. \"Suggests\" and \"points toward\" are your hedges. Use them.\n\nSELF-AWARE DISCLAIMERS \u2014 Maximum two per script. Approved forms: \"Look, I know how this sounds...\", \"I'm not saying this is proof of anything, but...\", \"I'm no conspiracy theorist, but you have to ask...\", \"Bear with me here.\"\n\nTHE COLLECTIVE WE \u2014 Use: \"We've been told...\", \"What we're looking at here...\", \"Come with me as we explore...\", \"We're not supposed to ask this question.\"\n\nPACING \u2014 Build slowly. Use \"...\" to mark deliberate pause. Short sentences for emphasis.\n\nAUDIENCE: Age 25-65, global English-speaking. Skeptical of institutional authority. Not fringe. Global clarity \u2014 no idioms, American sports metaphors, or British slang.\n\nSCRIPT STRUCTURE \u2014 20-MINUTE LONG FORM\n\nHOOK (0:00\u20130:45): Open inside the mystery. Do not introduce channel or host first. Hook formats: QUESTION (three escalating questions, third has no mainstream answer), PARADOX (two facts that cannot both be true), EVIDENCE (open on the anomaly), CONTRADICTION (state mainstream claim, then the physical evidence against it). Always end: \"Welcome to Ruins Untold. Come with me as we explore this together.\"\n\nCONTEXT BRIDGE (0:45\u20132:30): Establish mainstream position fairly. Tone: measured, slightly dry.\n\nACT 1 \u2014 THE OFFICIAL STORY (2:30\u20136:00): Honest detail of consensus model. Pattern interrupt at ~5:00.\n\nACT 2 \u2014 THE ANOMALIES (6:00\u201312:00): Each anomaly: (1) State clearly, (2) Why mainstream explanation insufficient, (3) \"We will come back to what this means.\" Pattern interrupt at ~8:30 (change angle). Pattern interrupt at ~11:00 (emotional peak: \"Here's where it gets uncomfortable.\").\n\nACT 3 \u2014 THE ALTERNATIVE INTERPRETATION (12:00\u201317:30): Alternative model with specificity. Cite real researchers. Approved: Graham Hancock, Randall Carlson, Robert Schoch, John Anthony West, Brien Foerster, James Kennett, Allen West, Christopher Moore, Andrew Collins, Michael Cremo. Pattern interrupt at ~14:30 (self-aware disclaimer).\n\nRESOLUTION + CTA (17:30\u201320:00): (1) Summary without mainstream framing, (2) \"The question isn't whether this existed. The question is why we are not allowed to ask.\", (3) Subscribe CTA + comment + related video, (4) Episode tease.\n\nLANGUAGE RULES\nALWAYS: Present tense for evidence. Short sentences. \"...\" for pause. Hedged language. \"We\" for collective discovery.\nNEVER: \"delve\", \"captivating\", \"fascinating\", \"it's worth noting\", \"in conclusion\", academic passive voice, \"In today's video\", \"Make sure to like and subscribe\" before CTA, \"As we all know\", \"Throughout history\", condescension toward academics, unverifiable claims as fact.\n\nLOCKED VOICE SAMPLE: \"Why did every ancient civilization suddenly stop building around 1200 BC? Was it climate change?...Was it caused by humans?...Or was it something else entirely?...Welcome to Ruins Untold...Come with me as we explore these questions together.\"\n\nOUTPUT FORMAT \u2014 produce exactly:\n1. SCRIPT \u2014 Full 20-minute script with timestamps and section headers\n2. HOOK VARIANTS \u2014 2 alternative hooks (other two formats)\n3. CHAPTER MARKERS \u2014 YouTube timestamps`,\n  messages: [{\n    role: 'user',\n    content: 'TOPIC: ' + $('Set Project Variables').item.json.TOPIC + '\\nANGLE: ' + $('Set Project Variables').item.json.ANGLE + '\\nKEY_EVIDENCE: ' + $('Set Project Variables').item.json.KEY_EVIDENCE + '\\nKEY_RESEARCHERS: ' + $('Set Project Variables').item.json.KEY_RESEARCHERS + '\\nRELATED_VIDEO: ' + $('Set Project Variables').item.json.RELATED_VIDEO + '\\nHOOK_STYLE: ' + $('Set Project Variables').item.json.HOOK_STYLE + '\\nTONE_DIAL: ' + $('Set Project Variables').item.json.TONE_DIAL + ($('Set Project Variables').item.json.revisionNotes ? '\\n\\nREVISION NOTES FROM PREVIOUS DRAFT: ' + $('Set Project Variables').item.json.revisionNotes : '')\n  }]\n}) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "node-04-claude-script",
        "name": "Generate Script \u2014 Claude",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          720,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "mkdg6co1DLJ0gHMk",
            "name": "Header Auth account"
          },
          "anthropicApi": {
            "id": "iVpBXuoEd2MVv9fg",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.item.json;\nconst fullText = response.content[0].text;\n\n// Split sections\nconst scriptMatch = fullText.match(/(?:#{1,2}\\s*SCRIPT|1\\.\\s*SCRIPT)[\\s\\S]*?(?=(?:#{1,2}\\s*HOOK VARIANTS|2\\.\\s*HOOK)|$)/i);\nconst hookVarsMatch = fullText.match(/(?:#{1,2}\\s*HOOK VARIANTS|2\\.\\s*HOOK)[\\s\\S]*?(?=(?:#{1,2}\\s*THUMBNAIL|3\\.\\s*THUMB)|$)/i);\nconst thumbMatch = fullText.match(/(?:#{1,2}\\s*THUMBNAIL|3\\.\\s*THUMB)[\\s\\S]*?(?=(?:#{1,2}\\s*VISUAL|4\\.\\s*VISUAL)|$)/i);\nconst promptsMatch = fullText.match(/(?:#{1,2}\\s*VISUAL PROMPTS?|4\\.\\s*VISUAL)[\\s\\S]*?(?=(?:#{1,2}\\s*CHAPTER|5\\.\\s*CHAPTER)|$)/i);\nconst chaptersMatch = fullText.match(/(?:#{1,2}\\s*CHAPTER|5\\.\\s*CHAPTER)[\\s\\S]*$/i);\n\nconst scriptText = scriptMatch ? scriptMatch[0].trim() : fullText;\nconst voiceoverText = scriptText\n  .replace(/\\[.*?\\]/g, '')\n  .replace(/\\(.*?\\)/g, '')\n  .replace(/^\\s*(#{1,3}.*|[A-Z\\s]+:.*|\\d+:\\d+.*|---.*)/gm, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst projectVars = $('Set Project Variables').item.json;\n\nreturn [{\n  json: {\n    ...projectVars,\n    fullOutput: fullText,\n    scriptText: scriptText,\n    voiceoverText: voiceoverText,\n    hookVariants: hookVarsMatch ? hookVarsMatch[0].trim() : '',\n    thumbnailConcept: thumbMatch ? thumbMatch[0].trim() : '',\n    visualPromptsTable: promptsMatch ? promptsMatch[0].trim() : '',\n    chapterMarkers: chaptersMatch ? chaptersMatch[0].trim() : '',\n    characterCount: voiceoverText.length,\n    estimatedMinutes: Math.round(voiceoverText.split(' ').length / 140)\n  }\n}];"
        },
        "id": "node-05-parse-script",
        "name": "Parse Script Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          304
        ]
      },
      {
        "parameters": {
          "command": "={{ \"cat > \\\"\" + $json.projectDir + \"/scripts/full_output.md\\\" << 'RUINS_EOF'\\n\" + $json.fullOutput + \"\\nRUINS_EOF\\necho \\\"Script saved.\\\"\" }}"
        },
        "id": "node-06-save-script",
        "name": "Save Script to File",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1200,
          304
        ]
      },
      {
        "parameters": {
          "resume": "form",
          "formTitle": "Ruins Untold \u2014 Script Review",
          "formDescription": "={{ '**TOPIC:** ' + $json.TOPIC + '\\n\\n**ESTIMATED LENGTH:** ~' + $json.estimatedMinutes + ' minutes\\n\\n**SCRIPT PREVIEW (first 3000 chars):**\\n```\\n' + ($json.scriptText || '').substring(0, 3000) + '\\n```\\n\\n**Full script saved at:** `' + $json.projectDir + '/scripts/full_output.md`\\n\\nReview the full script before approving.' }}",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Decision",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "approve"
                    },
                    {
                      "option": "revise"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Revision Notes",
                "fieldType": "textarea",
                "placeholder": "What needs to change? (only required if selecting 'revise')"
              }
            ]
          },
          "options": {}
        },
        "id": "node-07-script-review",
        "name": "Script Review & Approval",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1440,
          304
        ],
        "webhookId": "ruins-script-review"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-script",
                "leftValue": "={{ $json.Decision }}",
                "rightValue": "approve",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-08-script-if",
        "name": "Script Approved?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1680,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ model: 'claude-opus-4-7', max_tokens: 16000, system: 'You are revising a Ruins Untold YouTube script. Apply the same style guide as before. Incorporate the specific revision feedback provided. Keep all approved sections intact.', messages: [{ role: 'user', content: 'ORIGINAL SCRIPT:\\n' + $json.scriptText + '\\n\\nREVISION FEEDBACK: ' + $json['Revision Notes'] + '\\n\\nPlease revise the script incorporating this feedback while maintaining all Ruins Untold style guidelines. Output the complete revised script, hook variants, thumbnail concept, visual prompts table, and chapter markers.' }] }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "node-09-revise-script",
        "name": "Revise Script \u2014 Claude",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1920,
          512
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "mkdg6co1DLJ0gHMk",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.item.json;\nconst fullText = response.content[0].text;\n\nconst scriptMatch = fullText.match(/(?:#{1,2}\\s*SCRIPT|1\\.\\s*SCRIPT)[\\s\\S]*?(?=(?:#{1,2}\\s*HOOK VARIANTS|2\\.\\s*HOOK)|$)/i);\nconst promptsMatch = fullText.match(/(?:#{1,2}\\s*VISUAL PROMPTS?|4\\.\\s*VISUAL)[\\s\\S]*?(?=(?:#{1,2}\\s*CHAPTER|5\\.\\s*CHAPTER)|$)/i);\nconst chaptersMatch = fullText.match(/(?:#{1,2}\\s*CHAPTER|5\\.\\s*CHAPTER)[\\s\\S]*$/i);\nconst thumbMatch = fullText.match(/(?:#{1,2}\\s*THUMBNAIL|3\\.\\s*THUMB)[\\s\\S]*?(?=(?:#{1,2}\\s*VISUAL|4\\.)|$)/i);\n\nconst scriptText = scriptMatch ? scriptMatch[0].trim() : fullText;\nconst voiceoverText = scriptText\n  .replace(/\\[.*?\\]/g, '').replace(/\\(.*?\\)/g, '')\n  .replace(/^\\s*(#{1,3}.*|[A-Z\\s]+:.*|\\d+:\\d+.*|---.*)/gm, '')\n  .replace(/\\n{3,}/g, '\\n\\n').trim();\n\nconst prevVars = $('Set Project Variables').item.json;\n\nreturn [{ json: {\n  ...prevVars,\n  fullOutput: fullText,\n  scriptText,\n  voiceoverText,\n  visualPromptsTable: promptsMatch ? promptsMatch[0].trim() : '',\n  chapterMarkers: chaptersMatch ? chaptersMatch[0].trim() : '',\n  thumbnailConcept: thumbMatch ? thumbMatch[0].trim() : '',\n  characterCount: voiceoverText.length,\n  estimatedMinutes: Math.round(voiceoverText.split(' ').length / 140)\n}}];"
        },
        "id": "node-10-parse-revised",
        "name": "Parse Revised Script",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2160,
          512
        ]
      },
      {
        "parameters": {
          "command": "={{ \"cat > \\\"\" + $json.projectDir + \"/scripts/full_output.md\\\" << 'RUINS_EOF'\\n\" + $json.fullOutput + \"\\nRUINS_EOF\\necho \\\"Revised script saved.\\\"\" }}"
        },
        "id": "node-11-save-revised-script",
        "name": "Save Revised Script",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          2400,
          512
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.VOICE_ID }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "xi-api-key",
                "value": "={{ $credentials.httpHeaderAuth.value }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "accept",
                "value": "audio/mpeg"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ text: $json.voiceoverText, model_id: 'eleven_multilingual_v2', voice_settings: { stability: 0.5, similarity_boost: 0.75, style: 0.35, use_speaker_boost: true } }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 300000
          }
        },
        "id": "node-12-elevenlabs-tts",
        "name": "Generate Voiceover \u2014 ElevenLabs",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1920,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "elevenlabs-api-key",
            "name": "ElevenLabs API Key"
          }
        }
      },
      {
        "parameters": {
          "fileName": "={{ $json.projectDir }}/audio/voiceover.mp3",
          "options": {}
        },
        "id": "node-13-save-voiceover",
        "name": "Save Voiceover File",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          2160,
          304
        ]
      },
      {
        "parameters": {
          "resume": "form",
          "formTitle": "Ruins Untold \u2014 Voiceover Review",
          "formDescription": "={{ '**TOPIC:** ' + $json.TOPIC + '\\n\\n**Voiceover file saved at:**\\n`' + $json.projectDir + '/audio/voiceover.mp3`\\n\\nPlease listen to the voiceover before approving. Open the file in any audio player.\\n\\n**Estimated duration:** ~' + $json.estimatedMinutes + ' minutes' }}",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Decision",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "approve"
                    },
                    {
                      "option": "regenerate"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Regeneration Notes",
                "fieldType": "textarea",
                "placeholder": "Any issues with pacing, pronunciation, or delivery? (only if regenerating)"
              }
            ]
          },
          "options": {}
        },
        "id": "node-14-voiceover-review",
        "name": "Voiceover Review & Approval",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          2400,
          304
        ],
        "webhookId": "ruins-voiceover-review"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-vo",
                "leftValue": "={{ $json.Decision }}",
                "rightValue": "approve",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-15-voiceover-if",
        "name": "Voiceover Approved?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2640,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ model: 'claude-opus-4-7', max_tokens: 8000, system: 'You are a video post-production supervisor for Ruins Untold YouTube channel. Analyze scripts and identify precise placement cues for visual media, background music, and sound effects. Output structured JSON only.', messages: [{ role: 'user', content: 'Analyze this script and identify where images, video clips, background music, and sound effects should be placed. For each cue output a JSON array with objects: {type: \"image\"|\"video\"|\"music\"|\"sfx\", timestamp: \"MM:SS\", duration_seconds: N, description: \"...\", mood: \"...\", script_line: \"first few words of line\"}.\\n\\nRules:\\n- Images: for slower, static moments or evidence presentation\\n- Videos: for dramatic reveals, establishing shots, action sequences\\n- Music: background scoring (note: underscore, peak, outro)\\n- SFX: punctuation sounds (wind, impact, rumble, breath)\\n\\nSCRIPT:\\n' + $json.scriptText }] }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "node-16-claude-analyze",
        "name": "Analyze Media Placement \u2014 Claude",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2880,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "mkdg6co1DLJ0gHMk",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ model: 'claude-opus-4-7', max_tokens: 16000, system: 'You generate structured asset prompt arrays for a YouTube documentary production pipeline. Output only valid JSON arrays, no markdown.', messages: [{ role: 'user', content: 'Based on this visual prompts table and placement analysis, generate four JSON arrays:\\n\\n1. IMAGE_PROMPTS: array of {index: N, timestamp: \"MM:SS\", nb2_prompt: {12-field NB2 JSON}, filename: \"img_NNNN.png\"}\\n   NB2 locked fields: style:\"Photorealistic, cinematic, 8K\", color_palette:[\"cinematic teal-orange desaturation\",\"deep shadow accent\",\"warm ochre highlights\"], lighting:\"golden hour sidelighting or deep chiaroscuro shadow\", mood:\"ancient, mysterious, slightly ominous\", negative_constraints:[\"no modern elements\",\"no flat lighting\",\"no extra limbs\",\"no motion blur\"]\\n\\n2. VIDEO_PROMPTS: array of {index: N, timestamp: \"MM:SS\", duration_seconds: 8, veo_prompt: \"[Cinematography]+[Subject]+[Action]+[Context]+[Style] 100-150 words with Dialogue: SFX: Ambient: audio layers\", filename: \"vid_NNNN.mp4\"}\\n\\n3. MUSIC_PROMPTS: array of {index: N, timestamp: \"MM:SS\", duration_seconds: N, type: \"underscore\"|\"peak\"|\"outro\", prompt: \"ElevenLabs sound generation prompt for cinematic background music\", filename: \"music_NN.mp3\"}\\n\\n4. SFX_PROMPTS: array of {index: N, timestamp: \"MM:SS\", duration_seconds: N, prompt: \"ElevenLabs sound generation prompt for sound effect\", filename: \"sfx_NN.mp3\"}\\n\\nVISUAL PROMPTS TABLE:\\n' + $json.visualPromptsTable + '\\n\\nPLACEMENT ANALYSIS:\\n' + $('Analyze Media Placement \u2014 Claude').item.json.content[0].text }] }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "node-17-claude-prompts",
        "name": "Generate Asset Prompts \u2014 Claude",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          3120,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "mkdg6co1DLJ0gHMk",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.item.json;\nconst rawText = response.content[0].text;\n\nlet imagePrompts = [], videoPrompts = [], musicPrompts = [], sfxPrompts = [];\n\ntry {\n  const imgMatch = rawText.match(/IMAGE_PROMPTS[^\\[]*([\\s\\S]*?)(?=VIDEO_PROMPTS|$)/i);\n  const vidMatch = rawText.match(/VIDEO_PROMPTS[^\\[]*([\\s\\S]*?)(?=MUSIC_PROMPTS|$)/i);\n  const musMatch = rawText.match(/MUSIC_PROMPTS[^\\[]*([\\s\\S]*?)(?=SFX_PROMPTS|$)/i);\n  const sfxMatch = rawText.match(/SFX_PROMPTS[^\\[]*([\\s\\S]*?)(?=\\n\\n[A-Z]|$)/i);\n\n  const extractArray = (match) => {\n    if (!match) return [];\n    const arrMatch = match[0].match(/\\[[\\s\\S]*\\]/);\n    if (!arrMatch) return [];\n    try { return JSON.parse(arrMatch[0]); } catch(e) { return []; }\n  };\n\n  imagePrompts = extractArray(imgMatch);\n  videoPrompts = extractArray(vidMatch);\n  musicPrompts = extractArray(musMatch);\n  sfxPrompts = extractArray(sfxMatch);\n} catch(e) {\n  console.error('Prompt parse error:', e.message);\n}\n\nconst prevData = $('Parse Script Response').item.json;\n\nreturn [{ json: {\n  ...prevData,\n  imagePrompts,\n  videoPrompts,\n  musicPrompts,\n  sfxPrompts,\n  rawPromptsOutput: rawText,\n  imageTotalCount: imagePrompts.length,\n  videoTotalCount: videoPrompts.length,\n  musicTotalCount: musicPrompts.length,\n  sfxTotalCount: sfxPrompts.length\n}}];"
        },
        "id": "node-18-parse-prompts",
        "name": "Parse Asset Prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3360,
          304
        ]
      },
      {
        "parameters": {
          "command": "={{ \"cat > \\\"\" + $json.projectDir + \"/scripts/asset_prompts.json\\\" << 'RUINS_EOF'\\n\" + $json.rawPromptsOutput + \"\\nRUINS_EOF\\necho \\\"Prompts saved: \" + $json.imageTotalCount + \" images, \" + $json.videoTotalCount + \" videos, \" + $json.musicTotalCount + \" music, \" + $json.sfxTotalCount + \" sfx\\\"\" }}"
        },
        "id": "node-19-save-prompts",
        "name": "Save Prompts File",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          3600,
          304
        ]
      },
      {
        "parameters": {
          "resume": "form",
          "formTitle": "Ruins Untold \u2014 Asset Prompts Review",
          "formDescription": "={{ '**TOPIC:** ' + $json.TOPIC + '\\n\\n**Asset counts ready for generation:**\\n- Images (NanoBanana 2): ' + $json.imageTotalCount + '\\n- Videos (Veo 3.1 Fast): ' + $json.videoTotalCount + '\\n- Music cues (ElevenLabs): ' + $json.musicTotalCount + '\\n- SFX cues (ElevenLabs): ' + $json.sfxTotalCount + '\\n\\n**All prompts saved at:**\\n`' + $json.projectDir + '/scripts/asset_prompts.json`\\n\\nReview the prompts file before approving generation. This step commits to API costs.' }}",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Decision",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "approve \u2014 begin generation"
                    },
                    {
                      "option": "revise prompts"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Revision Notes",
                "fieldType": "textarea",
                "placeholder": "Describe any prompt changes needed (only if revising)"
              }
            ]
          },
          "options": {}
        },
        "id": "node-20-prompts-review",
        "name": "Prompts Review & Approval",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          3840,
          304
        ],
        "webhookId": "ruins-prompts-review"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-prompts",
                "leftValue": "={{ $json.Decision }}",
                "rightValue": "approve",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-21-prompts-if",
        "name": "Prompts Approved?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4080,
          304
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "node-32-split-music",
        "name": "Split Music Prompts",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          4320,
          608
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.elevenlabs.io/v1/sound-generation",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "xi-api-key",
                "value": "={{ $credentials.httpHeaderAuth.value }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "accept",
                "value": "audio/mpeg"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ text: $json.prompt, duration_seconds: $json.duration_seconds || 30, prompt_influence: 0.5 }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "audioData"
              }
            },
            "timeout": 120000
          }
        },
        "id": "node-33-gen-music",
        "name": "Generate Music \u2014 ElevenLabs",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          4560,
          608
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "elevenlabs-api-key",
            "name": "ElevenLabs API Key"
          }
        }
      },
      {
        "parameters": {
          "fileName": "={{ $('Parse Asset Prompts').item.json.projectDir }}/music/{{ $json.filename }}",
          "dataPropertyName": "audioData",
          "options": {}
        },
        "id": "node-34-save-music",
        "name": "Save Music File",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          4800,
          608
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "node-35-split-sfx",
        "name": "Split SFX Prompts",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          4320,
          800
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.elevenlabs.io/v1/sound-generation",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "xi-api-key",
                "value": "={{ $credentials.httpHeaderAuth.value }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "accept",
                "value": "audio/mpeg"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ text: $json.prompt, duration_seconds: $json.duration_seconds || 5, prompt_influence: 0.6 }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "audioData"
              }
            },
            "timeout": 120000
          }
        },
        "id": "node-36-gen-sfx",
        "name": "Generate SFX \u2014 ElevenLabs",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          4560,
          800
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "elevenlabs-api-key",
            "name": "ElevenLabs API Key"
          }
        }
      },
      {
        "parameters": {
          "fileName": "={{ $('Parse Asset Prompts').item.json.projectDir }}/sfx/{{ $json.filename }}",
          "dataPropertyName": "audioData",
          "options": {}
        },
        "id": "node-37-save-sfx",
        "name": "Save SFX File",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          4800,
          800
        ]
      },
      {
        "parameters": {
          "mode": "waitForAll",
          "options": {}
        },
        "id": "node-38-merge-assets",
        "name": "All Assets Complete",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          5040,
          512
        ]
      },
      {
        "parameters": {
          "jsCode": "const parsedData = $('Parse Asset Prompts').item.json;\nconst projectDir = parsedData.projectDir;\n\nconst manifest = {\n  projectDir,\n  topic: parsedData.TOPIC,\n  voiceover: projectDir + '/audio/voiceover.mp3',\n  images: (parsedData.imagePrompts || []).map(p => ({\n    filename: projectDir + '/images/' + p.filename,\n    timestamp: p.timestamp,\n    duration: 8\n  })),\n  videos: (parsedData.videoPrompts || []).map(p => ({\n    filename: projectDir + '/videos/' + p.filename,\n    timestamp: p.timestamp,\n    duration: p.duration_seconds || 8\n  })),\n  music: (parsedData.musicPrompts || []).map(p => ({\n    filename: projectDir + '/music/' + p.filename,\n    timestamp: p.timestamp,\n    duration: p.duration_seconds || 30,\n    type: p.type\n  })),\n  sfx: (parsedData.sfxPrompts || []).map(p => ({\n    filename: projectDir + '/sfx/' + p.filename,\n    timestamp: p.timestamp,\n    duration: p.duration_seconds || 5\n  }))\n};\n\nreturn [{ json: { manifest, projectDir, TOPIC: parsedData.TOPIC } }];"
        },
        "id": "node-39-build-manifest",
        "name": "Build Asset Manifest",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5280,
          512
        ]
      },
      {
        "parameters": {
          "resume": "form",
          "formTitle": "Ruins Untold \u2014 Final Assets Review",
          "formDescription": "={{ '**TOPIC:** ' + $json.TOPIC + '\\n\\n**Generated assets are in:** `' + $json.projectDir + '`\\n\\n**Asset summary:**\\n- Images: `' + $json.projectDir + '/images/`\\n- Videos: `' + $json.projectDir + '/videos/`\\n- Music: `' + $json.projectDir + '/music/`\\n- SFX: `' + $json.projectDir + '/sfx/`\\n- Voiceover: `' + $json.projectDir + '/audio/voiceover.mp3`\\n\\nReview all assets before approving FFMpeg assembly. Assembly is the final step.' }}",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Decision",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "approve \u2014 assemble final video"
                    },
                    {
                      "option": "hold \u2014 do not assemble"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Notes",
                "fieldType": "textarea",
                "placeholder": "Any notes for post-production..."
              }
            ]
          },
          "options": {}
        },
        "id": "node-40-assets-review",
        "name": "Assets Review & Final Approval",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          5520,
          512
        ],
        "webhookId": "ruins-assets-review"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-assets",
                "leftValue": "={{ $json.Decision }}",
                "rightValue": "approve",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-41-assets-if",
        "name": "Assets Approved?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          5760,
          512
        ]
      },
      {
        "parameters": {
          "jsCode": "const { manifest, projectDir } = $input.item.json;\n\nconst slugify = s => s.toLowerCase().replace(/[^a-z0-9]+/g, '_').substring(0, 40);\nconst outputFile = `/Users/jneal/Antigravity/out/${slugify(manifest.topic)}_final.mp4`;\nconst concatFile = `${projectDir}/scripts/video_concat.txt`;\nconst musicMixFile = `${projectDir}/scripts/music_concat.txt`;\n\n// Build concat list from videos and images sorted by timestamp\nconst allVisuals = [\n  ...manifest.images.map(i => ({ ...i, mediaType: 'image' })),\n  ...manifest.videos.map(v => ({ ...v, mediaType: 'video' }))\n].sort((a, b) => {\n  const toSec = t => { const [m,s] = (t||'0:00').split(':'); return parseInt(m)*60+parseInt(s); };\n  return toSec(a.timestamp) - toSec(b.timestamp);\n});\n\nconst concatLines = allVisuals.map(v => {\n  if (v.mediaType === 'image') {\n    return `file '${v.filename}'\\nduration ${v.duration || 8}`;\n  } else {\n    return `file '${v.filename}'`;\n  }\n}).join('\\n');\n\n// Music concat\nconst musicLines = manifest.music.map(m => `file '${m.filename}'\\nduration ${m.duration}`).join('\\n');\n\n// Build SFX filter inputs\nconst sfxInputs = manifest.sfx.map((s, i) => `-i \"${s.filename}\"`).join(' ');\nconst sfxMixParts = manifest.sfx.map((_, i) => `[${i + 3}:a]`).join('');\nconst totalAudioInputs = manifest.sfx.length + 3;\nconst sfxMixFilter = manifest.sfx.length > 0\n  ? `;${sfxMixParts}amix=inputs=${manifest.sfx.length}[sfxmix];[2:a][sfxmix]amix=inputs=2:weights=1 0.15[bgmix];[1:a][bgmix]amix=inputs=2:weights=1 0.25[aout]`\n  : ';[1:a][2:a]amix=inputs=2:weights=1 0.20[aout]';\n\nconst ffmpegCmd = `#!/bin/bash\nset -e\n\nPROJECT_DIR=\"${projectDir}\"\nOUTPUT=\"${outputFile}\"\n\n# Write concat file for visuals\ncat > \"${concatFile}\" << 'CONCAT_EOF'\n${concatLines}\nCONCAT_EOF\n\n# Write music concat\ncat > \"${musicMixFile}\" << 'MUSIC_EOF'\n${musicLines}\nMUSIC_EOF\n\n# Assemble music track\nffmpeg -y -f concat -safe 0 -i \"${musicMixFile}\" -c:a libmp3lame -q:a 4 \"${projectDir}/audio/music_combined.mp3\"\n\n# Final assembly: visuals + voiceover + music + sfx\nffmpeg -y \\\\\n  -f concat -safe 0 -i \"${concatFile}\" \\\\\n  -i \"${manifest.voiceover}\" \\\\\n  -i \"${projectDir}/audio/music_combined.mp3\" \\\\\n  ${sfxInputs} \\\\\n  -filter_complex \"[0:v]scale=1920:1080:force_original_aspect_ratio=decrease,pad=1920:1080:(ow-iw)/2:(oh-ih)/2,setsar=1,fps=30[vout]${sfxMixFilter}\" \\\\\n  -map \"[vout]\" -map \"[aout]\" \\\\\n  -c:v libx264 -crf 18 -preset slow -profile:v high \\\\\n  -c:a aac -b:a 192k -ar 48000 \\\\\n  -movflags +faststart \\\\\n  -t $(ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"${manifest.voiceover}\") \\\\\n  \"$OUTPUT\"\n\necho \"Assembly complete: $OUTPUT\"\n`;\n\nreturn [{ json: { ffmpegScript: ffmpegCmd, outputFile, scriptPath: `${projectDir}/scripts/assemble.sh`, projectDir, TOPIC: manifest.topic } }];"
        },
        "id": "node-42-ffmpeg-script",
        "name": "Generate FFMpeg Assembly Script",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6000,
          512
        ]
      },
      {
        "parameters": {
          "command": "={{ \"cat > \\\"\" + $json.scriptPath + \"\\\" << 'RUINS_EOF'\\n\" + $json.ffmpegScript + \"\\nRUINS_EOF\\nchmod +x \\\"\" + $json.scriptPath + \"\\\"\\necho \\\"Assembly script written to: \" + $json.scriptPath + \"\\\"\" }}"
        },
        "id": "node-43-write-ffmpeg",
        "name": "Write Assembly Script",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          6240,
          512
        ]
      },
      {
        "parameters": {
          "command": "={{ \"bash \\\"\" + $json.scriptPath + \"\\\" 2>&1\" }}"
        },
        "id": "node-44-run-ffmpeg",
        "name": "Assemble Final Video \u2014 FFMpeg",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          6480,
          512
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "node-45-done",
        "name": "Production Complete",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          6720,
          512
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.item.json;\nconst prompts = d.imagePrompts || [];\nreturn prompts.map((p, i) => {\n  const rowNum = i + 1;\n  const promptJson = typeof p.nb2_prompt === 'object'\n    ? JSON.stringify(p.nb2_prompt)\n    : (p.nb2_prompt || '');\n  return {\n    json: {\n      'Index':    rowNum,\n      'Type':     'Image',\n      'Prompt':   '\"' + promptJson + '\"',\n      'Filename': 'image_' + String(rowNum).padStart(4, '0')\n    }\n  };\n});"
        },
        "id": "node-22-expand-images",
        "name": "Expand Image Prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4320,
          144
        ]
      },
      {
        "parameters": {
          "jsCode": "const parsedData = $('Parse Asset Prompts').item.json;\nconst prompts = parsedData.videoPrompts || [];\nreturn prompts.map((p, i) => {\n  const rowNum = i + 1;\n  const promptText = p.veo_prompt || '';\n  return {\n    json: {\n      'Index':    rowNum,\n      'Type':     'Video',\n      'Prompt':   '\"' + promptText + '\"',\n      'Filename': 'video_' + String(rowNum).padStart(4, '0')\n    }\n  };\n});"
        },
        "id": "node-24-expand-videos",
        "name": "Expand Video Prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5040,
          144
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.item.json;\nconst prompts = d.musicPrompts || [];\nreturn prompts.map(p => ({ json: { ...p, projectDir: d.projectDir } }));"
        },
        "id": "node-26-expand-music",
        "name": "Expand Music Prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4320,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.item.json;\nconst prompts = d.sfxPrompts || [];\nreturn prompts.map(p => ({ json: { ...p, projectDir: d.projectDir } }));"
        },
        "id": "node-27-expand-sfx",
        "name": "Expand SFX Prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4320,
          800
        ]
      },
      {
        "parameters": {
          "resume": "form",
          "formTitle": "Ruins Untold \u2014 Manual Generation Ready?",
          "formDescription": "={{ '**Prompt files written to project folder:**\\n\\n\ud83d\udcc4 `' + $('Parse Asset Prompts').item.json.projectDir + '/scripts/image_prompts.xlsx`\\n\ud83d\udcc4 `' + $('Parse Asset Prompts').item.json.projectDir + '/scripts/video_prompts.xlsx`\\n\\n**Generate your images and videos using those prompts, then place the files here:**\\n\\n\ud83d\uddbc\ufe0f  Images \u2192 `' + $('Parse Asset Prompts').item.json.projectDir + '/images/` (filenames: img_0001.png, img_0002.png\u2026)\\n\ud83c\udfac  Videos \u2192 `' + $('Parse Asset Prompts').item.json.projectDir + '/videos/` (filenames: vid_0001.mp4, vid_0002.mp4\u2026)\\n\\n**Music and SFX are being auto-generated in parallel** \u2014 wait for this form to appear before submitting, as that confirms both audio tracks are ready.\\n\\nSubmit once all image and video files are in place.' }}",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Confirmation",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "All files are in place \u2014 proceed to assembly"
                    },
                    {
                      "option": "Not ready yet \u2014 cancel"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "Notes",
                "fieldType": "textarea",
                "placeholder": "Any files skipped or renamed?"
              }
            ]
          },
          "options": {}
        },
        "id": "node-38b-manual-wait",
        "name": "Wait \u2014 Manual Image & Video Generation",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          5760,
          304
        ],
        "webhookId": "ruins-manual-generation-wait"
      },
      {
        "parameters": {
          "operation": "toFile",
          "fileFormat": "xlsx",
          "options": {
            "fileName": "image_prompts",
            "headerRow": true,
            "sheetName": "Image Prompts"
          }
        },
        "id": "node-23-xlsx-images",
        "name": "Write Image Prompts \u2014 XLSX",
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 2,
        "position": [
          4560,
          144
        ]
      },
      {
        "parameters": {
          "fileName": "={{ $('Parse Asset Prompts').item.json.projectDir }}/scripts/image_prompts.xlsx",
          "options": {}
        },
        "id": "node-23b-save-image-xlsx",
        "name": "Save Image Prompts File",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          4800,
          144
        ]
      },
      {
        "parameters": {
          "operation": "toFile",
          "fileFormat": "xlsx",
          "options": {
            "fileName": "video_prompts",
            "headerRow": true,
            "sheetName": "Video Prompts"
          }
        },
        "id": "node-25-xlsx-videos",
        "name": "Write Video Prompts \u2014 XLSX",
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 2,
        "position": [
          5280,
          144
        ]
      },
      {
        "parameters": {
          "fileName": "={{ $('Parse Asset Prompts').item.json.projectDir }}/scripts/video_prompts.xlsx",
          "options": {}
        },
        "id": "node-25b-save-video-xlsx",
        "name": "Save Video Prompts File",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          5520,
          144
        ]
      }
    ],
    "connections": {
      "Video Topic Form": {
        "main": [
          [
            {
              "node": "Set Project Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Project Variables": {
        "main": [
          [
            {
              "node": "Create Project Directories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Project Directories": {
        "main": [
          [
            {
              "node": "Generate Script \u2014 Claude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Script \u2014 Claude": {
        "main": [
          [
            {
              "node": "Parse Script Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Script Response": {
        "main": [
          [
            {
              "node": "Save Script to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Script to File": {
        "main": [
          [
            {
              "node": "Script Review & Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Script Review & Approval": {
        "main": [
          [
            {
              "node": "Script Approved?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Script Approved?": {
        "main": [
          [
            {
              "node": "Generate Voiceover \u2014 ElevenLabs",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Revise Script \u2014 Claude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Revise Script \u2014 Claude": {
        "main": [
          [
            {
              "node": "Parse Revised Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Revised Script": {
        "main": [
          [
            {
              "node": "Save Revised Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Revised Script": {
        "main": [
          [
            {
              "node": "Script Review & Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Voiceover \u2014 ElevenLabs": {
        "main": [
          [
            {
              "node": "Save Voiceover File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Voiceover File": {
        "main": [
          [
            {
              "node": "Voiceover Review & Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Voiceover Review & Approval": {
        "main": [
          [
            {
              "node": "Voiceover Approved?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Voiceover Approved?": {
        "main": [
          [
            {
              "node": "Analyze Media Placement \u2014 Claude",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate Voiceover \u2014 ElevenLabs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Media Placement \u2014 Claude": {
        "main": [
          [
            {
              "node": "Generate Asset Prompts \u2014 Claude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Asset Prompts \u2014 Claude": {
        "main": [
          [
            {
              "node": "Parse Asset Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Asset Prompts": {
        "main": [
          [
            {
              "node": "Save Prompts File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Prompts File": {
        "main": [
          [
            {
              "node": "Prompts Review & Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompts Review & Approval": {
        "main": [
          [
            {
              "node": "Prompts Approved?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompts Approved?": {
        "main": [
          [
            {
              "node": "Expand Image Prompts",
              "type": "main",
              "index": 0
            },
            {
              "node": "Expand Music Prompts",
              "type": "main",
              "index": 0
            },
            {
              "node": "Expand SFX Prompts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate Asset Prompts \u2014 Claude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Music Prompts": {
        "main": [
          [
            {
              "node": "Generate Music \u2014 ElevenLabs",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "All Assets Complete",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Generate Music \u2014 ElevenLabs": {
        "main": [
          [
            {
              "node": "Save Music File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Music File": {
        "main": [
          [
            {
              "node": "Split Music Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split SFX Prompts": {
        "main": [
          [
            {
              "node": "Generate SFX \u2014 ElevenLabs",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "All Assets Complete",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Generate SFX \u2014 ElevenLabs": {
        "main": [
          [
            {
              "node": "Save SFX File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save SFX File": {
        "main": [
          [
            {
              "node": "Split SFX Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "All Assets Complete": {
        "main": [
          [
            {
              "node": "Wait \u2014 Manual Image & Video Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Asset Manifest": {
        "main": [
          [
            {
              "node": "Assets Review & Final Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assets Review & Final Approval": {
        "main": [
          [
            {
              "node": "Assets Approved?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assets Approved?": {
        "main": [
          [
            {
              "node": "Generate FFMpeg Assembly Script",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Generate FFMpeg Assembly Script": {
        "main": [
          [
            {
              "node": "Write Assembly Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Assembly Script": {
        "main": [
          [
            {
              "node": "Assemble Final Video \u2014 FFMpeg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assemble Final Video \u2014 FFMpeg": {
        "main": [
          [
            {
              "node": "Production Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand Image Prompts": {
        "main": [
          [
            {
              "node": "Write Image Prompts \u2014 XLSX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand Video Prompts": {
        "main": [
          [
            {
              "node": "Write Video Prompts \u2014 XLSX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand Music Prompts": {
        "main": [
          [
            {
              "node": "Split Music Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand SFX Prompts": {
        "main": [
          [
            {
              "node": "Split SFX Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait \u2014 Manual Image & Video Generation": {
        "main": [
          [
            {
              "node": "Build Asset Manifest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Image Prompts \u2014 XLSX": {
        "main": [
          [
            {
              "node": "Save Image Prompts File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Image Prompts File": {
        "main": [
          [
            {
              "node": "Expand Video Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Video Prompts \u2014 XLSX": {
        "main": [
          [
            {
              "node": "Save Video Prompts File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Video Prompts File": {
        "main": [
          [
            {
              "node": "All Assets Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "JeezyAndNay Neal",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-20T20:00:18.002Z",
        "id": 6,
        "workflowId": "ruins-untold-pipeline-v1",
        "versionId": "cdb675c3-069b-48ec-8124-e69d4dcc6c20",
        "event": "deactivated",
        "userId": "af2abf74-a4e9-4319-875f-87671c53e774"
      },
      {
        "createdAt": "2026-05-20T20:00:18.247Z",
        "id": 7,
        "workflowId": "ruins-untold-pipeline-v1",
        "versionId": "cdb675c3-069b-48ec-8124-e69d4dcc6c20",
        "event": "activated",
        "userId": "af2abf74-a4e9-4319-875f-87671c53e774"
      }
    ]
  }
}